include /mixin.jade
div#binding-panel(ng-controller="datasetList",ng-cloak,ng-init="useSample=true")
  include /dataset/widget/float-edit.jade
  h1 Data Binding #[small.grayed: small connect your data with this chart]
  .sep.dark
  .databinder.row
    .col-sm-4
      .ds-list-panel.panel.panel-default
        .panel-heading
          | choose dataset you want to use ...
        .panel-body
          .input-group
            input.input-sm.form-control(ng-model="qLazy.keyword",placeholder="search by dataset name ...")
            span.input-group-btn
              .loader.alone.xs.block-center(ng-cloak,ng-class="{'loading':paging.loading && !paging.end}")
              .btn.btn-default.btn-sm: i.fa.fa-search
          .btn.btn-default.btn-sm(ng-click="dataPanel.toggle()") #[i.fa.fa-plus-circle] New Dataset
          .sep
          .ds-list
            .ds-list-item(ng-repeat="dataset in datasets|filter:{name:filter.search}:false",
            ng-click="setcur(dataset)",ng-class="{'active':cur==dataset}")
              img.avatar(ng-attr-src="/s/avatar/{{dataset.owneravatar || 0}}.jpg")
              .info
                .name {{dataset.name}}
                .grayed {{dataset.rows}} Rows, {{dataset.fields.length}} Fields
              small.grayed.sample(ng-show="dataset.isSample") sample data
              small.grayed.sample(ng-show="dataset.owner==user.data.key") my data
            #list-end.text-center: span(ng-cloak,ng-show="paging.end")
            .loader.alone.sm.block-center(ng-cloak,ng-class="{'loading':paging.loading && !paging.end}")
            .text-center.grayed(ng-show="paging.end") that's all. #[i.fa.fa-smile-o]
            .text-center.grayed(ng-show="paging.end") no result. try other keyword?

    .col-sm-8
      .ds-fields-panel.panel.panel-default
        .panel-heading
          | Field List
        .panel-body
          .pull-right.ctrl
            a(ng-class="{'disabled':cur._type.location=='sample'}",
            ng-click="columnize(cur)") #[i.fa.fa-pencil-square-o] columnize
            a(ng-class="{'disabled':cur._type.location=='sample'}",
            ng-click="transpose(cur)") #[i.fa.fa-pencil-square-o] transpose
            a(ng-class="{'disabled':cur._type.location=='sample'}",
            ng-click="dataPanel.edit(cur)") #[i.fa.fa-pencil-square-o] edit
            a(ng-class="{'disabled':cur._type.location=='sample'}",
            ng-attr-href="/dataset/{{cur.key}}/",target="_blank") #[i.fa.fa-external-link] open
          label
            .ball(ng-class="{'active':cur}")
            span(ng-cloak,ng-show="cur") {{cur.name}}
          span.grayed(ng-show="!cur") ( no dataset select ... )
          .info
            small.grayed(ng-show="cur") {{cur.rows}} Rows, {{cur.fields.length}} Fields
            span &nbsp;
          .sep
          #field-agent.ds-field(ng-drag="true",ng-drag-data="fieldAgent.data",
          ng-drag-start="fieldAgent.drag.start()",ng-drag-stop="fieldAgent.drag.end()",
          ng-class="{'active':fieldAgent.data}")
            i.fa.fa-bars
            .detail
              .name(ng-attr-title="{{fieldAgent.data.name || '(empty)'}}")  {{fieldAgent.data.name || '(empty)'}}&nbsp;
              .grayed: small {{fieldAgent.data.datatype || 'Any'}}
          .ds-fields
            .ds-field(ng-repeat="field in cur.fields",ng-mouseover="fieldAgent.setProxy($event,field)",
            ng-drag="true",ng-drag-data="field")
              i.fa.fa-bars
              .detail
                .name {{field.name || '(empty)'}}&nbsp;
                .grayed: small {{field.datatype || 'Any'}}

            .ds-field.flexend(style="cursor:default")

      .text-center.grayed #[i.fa.fa-arrow-down] Drag Field to Map Dimension #[i.fa.fa-arrow-down]
      .chart-dims(ng-cloak)
        .chart-dim.panel.panel-default(ng-repeat="(name,dim) in chart.dimension",
        ng-drop="true",ng-drop-success="dimension.bind($event,dim,$data)")
          .panel-heading
            span dimension
            small.pull-right(ng-show="dim.multiple",data-toggle="tooltip",data-placement="top",title="You can drag multiple fields here!",style="margin-top: 4px",ng-mouseover="tooltip.show($event)") multiple #[i.fa.fa-question-circle]
          .panel-body
            b {{name}} #[i.fa.fa-asterisk(style="color:#f00;font-size:0.7em",ng-show="dim.require")]
            .desc {{dim.desc}}
            .grayed accept: 
              i(ng-repeat="type in dim.type") {{type.name}}
              i(ng-show="!dim.type || !dim.type.length") Any
            .ds-fields
              .ds-field.placeholder(ng-show="!dim.fields || !dim.fields.length")
              .ds-field(ng-repeat="field in dim.fields",
              ng-class="{'mismatch': !dimension.typematch(dim.type, field.datatype)}")
                .delete(ng-click="dimension.unbind($event, dim, field)"): span &times;
                .name {{field.name}}&nbsp;
                small.grayed
                  span.type(ng-if="field.datatype"): i {{field.datatype}}
                  span(ng-if="!field.datatype"): i Any
                  br
                  | in {{field.datasetname}}(
                  span(ng-if="field.dataset") {{field.dataset}}
                  span(ng-if="!field.dataset") sample
                  | )

        .chart-dim.flexend
        div
          i.fa.fa-asterisk(style="color:#f00;font-size: 0.8em")
          span &nbsp;= required
        .sep.gap
        p Don't know how to prepare your data? #[a(href="#",ng-click="dataPanel.showSample()") Check the Sample Data]
