extends /base.jade
block vars
  if !chart
    - var rootid = "chartview"
    - var title = 'Visualization Editor @ PlotDB'
    - var description = "Create, share and request visualizations online."
    - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/"
  else
    - var rootid = "chartview"
    - var title = chart.name + ' / Visualize with PlotDB'
    - var description = chart.description
    - var thumbnail = "https://plotdb.com/s/chart/" + chart.key + ".png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/chart/" + chart.key
mixin SaveFork
  span(ng-cloak,ng-show="target().owner==user.data.key") Save
  span(ng-cloak,ng-show="target().owner!=user.data.key") Fork
block head
  if chart
    script.
      window.chart = !{JSON.stringify(chart)}
  if theme
    script.
      window.theme = !{JSON.stringify(theme)}
block body
  .spc1
  #root.pleditor(ng-controller="plEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    #setting-modal(ng-cloak,ng-show="settingPanel.toggled",ng-click="settingPanel.toggle()")
    #setting-modal-inner(ng-cloak,ng-show="settingPanel.toggled"): .ib
      .closebtn(ng-click="settingPanel.toggle()")
      h3 Settings
      br
      div(style="width: 80%;margin:auto")
        .pull-right(ng-cloak,ng-show="target().parent")
          span derived from 
          //TODO fetch parent name
          a(ng-attr-href="/{{type}}/s{{target().parent}}",target="_blank") {{target().parent}}
        label Name
        input.form-control(placeholder="Name", ng-model="target().name")
        br
        label Descriptiont
        textarea.form-control(placeholder="Description", ng-model="target().description",rows="3")
        br
        label Base Chart Type
        div: select#chart-setting-type.form-control(multiple="multiple",
        ngselect2,ng-data="settingPanel.chart.basetype")
          option(value="1") Bar Chart
          option(value="2") Line Chart
          option(value="3") Pie Chart
          option(value="4") Area Chart
          option(value="5") Bubble Chart
          option(value="6") Radial Chart
          option(value="7") Calendar
          option(value="8") Treemap
          option(value="9") Map
          option(value="10") Cartogram
          option(value="11") Heatmap
          option(value="12") Sankey
          option(value="13") Venn Diagram
          option(value="14") Word Cloud
          option(value="15") Timeline
          option(value="16") Mixed
          option(value="17") Pictogram
          option(value="18") Scatter Plot
          option(value="99") Other
        br
        label Visual Encoding
        div: select#chart-setting-encoding.form-control(multiple="multiple",
        ngselect2,ng-data="settingPanel.chart.visualencoding")
          option(value="1") Position
          option(value="2") Position ( Non-aligned )
          option(value="3") Length
          option(value="4") Direction
          option(value="5") Angle
          option(value="6") Area
          option(value="7") Volume
          option(value="8") Curvature
          option(value="9") Shade
          option(value="10") Saturation
          option(value="99") Other
        br
        label Chart Category
        div: select#chart-setting-category.form-control(multiple="multiple",
        ngselect2,ng-data="settingPanel.chart.category")
          option(value="1") Infographics
          option(value="2") Geographics
          option(value="4") Journalism
          option(value="5") Statistics
          option(value="6") Business
          option(value="99") Other

        br
        label Tags
        div: select#editor-setting-tags.form-control(multiple="multiple",
        ngselect2,ng-data="settingPanel.chart.tags",istag="true",
        placeholder="comma separated values, like 'population,economics'")
        br
        label Backups
        div(ng-cloak,ng-show="backup.list.length")
          | backuped at {{backup.last.timestamp|date}}.&nbsp;
          a(href="#",ng-click="backup.recover()") Recover
        p.grayed(ng-cloak,ng-show="!backup.list.length") No backup found.
      div
        hr(style="margin-bottom:10px")
        .btn.btn-default(ng-click="clone()") Make a copy
        .pull-right
          .save-hint-btn.btn.btn-default.loader(ng-disabled="!target().name",ng-click="save()",
          ng-class="{'loading':save.handle}")
            +SaveFork
          .btn.btn-default(ng-click="settingPanel.toggle()") Close

    #permission-modal(ng-cloak,ng-show="sharePanel.toggled"): .ib
      .closebtn(ng-click="sharePanel.toggle()")
      h3 Share
      div(ng-cloak,ng-show="!target().key",
      style="position:absolute;top:0;left:0;width:100%;height:100%;")
        div(style="display:table;width:100%;height:100%;"): div(style="display:table-row;width:100%;height:100%")
          div(ng-cloak,
          style="display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center;color:#888")
            | This {{type}} is not saved. #[br] Save it to share it. #[br]#[br]#[br]
            div(style="width:70%;margin:auto;max-width:500px")
              .text-left: label(style="color:initial",ng-cloak) Give your {{type}} a name
              input.form-control(type="text",ng-model="target().name",
              placeholder="Project Name",style="margin-bottom:5px")
              .btn.btn-default.btn-block.loader(ng-disabled="!target().name",ng-click="save()",
              ng-class="{'loading':save.handle}")
                +SaveFork

      div(ng-cloak,ng-show="target()._type.location=='local' && target().key",
      style="position:absolute;top:0;left:0;width:100%;height:100%;")
        div(style="display:table;width:100%;height:100%;"): div(style="display:table-row;width:100%;height:100%")
          div(style="display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center;color:#888")
            | This {{type}} is locally saved. #[br] You need to save it in plotdb.com to share it. #[br]#[br]
            .btn.btn-default(ng-click="migrate()") OK, move it to the server
        div(style="position:absolute;bottom:5px;width:100%")
          hr(style="margin-bottom:10px")
          .pull-right(style="padding:0px 10px 5px"): .btn.btn-default(ng-click="sharePanel.toggle()") Close
      div(ng-cloak,ng-show="target()._type.location=='server' && target().key")
        br
        .text-center(style="margin-bottom: 8px"): .btn-group
          .btn.btn-default(ng-click="sharePanel.setPrivate()",ng-class="{'active':!sharePanel.isPublic()}") Private
          .btn.btn-default(ng-click="sharePanel.setPublic()",ng-class="{'active':sharePanel.isPublic()}") Public
        .text-center(ng-show="!sharePanel.isPublic()") Only users with permission can see this.
        .text-center(ng-show="sharePanel.isPublic()") Every one can see this.

        .text-center.text-danger(ng-cloak,ng-show="sharePanel.saveHint") Save to apply this change
        .text-center: .checkbox: label #[input(type="checkbox",ng-model="sharePanel.forkable")] Allow others to fork this work
        br(ng-show="!sharePanel.saveHint")

        #share-buttons.text-center(style="font-size:2em",ng-class="{'disabled':!sharePanel.isPublic()}")
          div(ng-show="!sharePanel.isPublic()")
            i.fa.fa-facebook
            i.fa.fa-twitter
            i.fa.fa-pinterest
            i.fa.fa-linkedin
            i.fa.fa-envelope
          div(ng-show="sharePanel.isPublic()")
            a(ng-attr-href="{{sharePanel.social.facebook}}",target="_blank")
              i.fa.fa-facebook-square(style="color:#3b5998")
            a(ng-attr-href="{{sharePanel.social.twitter}}", target="_blank")
              i.fa.fa-twitter-square(style="color:#00a0dc")
            a(ng-attr-href="{{sharePanel.social.pinterest}}",target="_blank")
              i.fa.fa-pinterest-square(style="color:#bd081c")
            a(ng-attr-href="{{sharePanel.social.linkedin}}", target="_blank")
              i.fa.fa-linkedin-square(style="color:#00a0dc")
            a(ng-attr-href="{{sharePanel.social.email}}",target="_blank")
              i.fa.fa-envelope-square(style="color:#444")

        hr

        .row
          .col-sm-10.col-sm-offset-1

            label Link
            .pull-right(ng-cloak,ng-show="sharePanel.isPublic()")
              a(ng-attr-href="{{sharePanel.link || '#'}}",target="_blank")
                i.fa.fa-external-link(style="vertical-align:middle")
                span(style="font-size:12px;margin-left:5px;") Open in New Window
            input.form-control(ng-cloak,disabled,
            ng-show="!sharePanel.isPublic()",placeholder="set public to get share link")
            input#edit-sharelink.form-control(ng-cloak,type="text",ng-model="sharePanel.link",
            placeholder="share link for this",ng-show="sharePanel.isPublic()",
            data-clipboard-target="#edit-sharelink")
            br
            label Embed Code
            textarea.form-control(ng-cloak,disabled,rows="3",
            ng-show="!sharePanel.isPublic()",placeholder="set public to get embed code")
            textarea#edit-embedcode.form-control(ng-cloak,rows="3",ng-show="sharePanel.isPublic()",
            data-clipboard-target="#edit-embedcode",ng-model="sharePanel.embedcode")
        hr(style="margin-bottom:10px")
        .pull-right
          .save-hint-btn.btn.btn-default.loader(ng-disabled="!target().name",ng-click="save();sharePanel.saveHint=false",
          ng-class="{'btn-warning':sharePanel.saveHint,'btn-default':!sharepanel.saveHint,'loading':save.handle}")
            +SaveFork
          .btn.btn-default(ng-click="sharePanel.toggle()") Close
        //- Simplify this for now
        //-
          .row
            .col-sm-8.col-sm-offset-2
              label(style="margin-bottom:10px") Granted List
              each i in [1,2,3,4,5]
                .perm(style="line-height:20px;margin-bottom:10px;border-bottom:1px dashed #f9f9f9")
                  div(style="display:inline-block;vertical-align:middle;line-height:12px;padding:1px;font-size:12px;width:15px;height:15px;border-radius:50%;background:#f00;color:#fff;text-align:center;margin-right:10px") &times;
                  div(style="width:20px;height:20px;border-radius:50%;background:#999;border:2px solid #444;display:inline-block;vertical-align:middle;margin-right:7px;")
                  span(style="line-height:20px;") tkirby@gmail.com
                  .pull-right
                    each v in [['eye','View','#444'],['edit','Edit','#ddd'],['cogs','Admin','#ddd']]
                      div(style="display:inline-block;vertical-align:middle;line-height:20px;margin:0 10px;text-align:center;color:#444")
                        //-i.fa(class="fa-"+v[0],style="font-size:20px;line-height:0")
                        div(style="font-size:12px;font-family:open sans condensed;line-height:0;font-weight:bold;color:"+v[2])= v[1]
          hr
          .input-group(style="width:250px;float:left;margin-right:10px")
            input.form-control.input-sm
            span.input-group-btn
              .btn.btn-default.btn-sm #[i.fa.fa-plus] User
          .btn.btn-default.btn-sm #[i.fa.fa-plus] Link

    #assets-preview(ng-cloak,ng-show="assets.preview.toggled"): .ib
      .closebtn.inner(ng-click="assets.preview.toggled=false")
      .iframe(style="width:100%;height:100%;border:none")
    include /widget/palette-edit-modal.jade
    #fullscreen-dimmer(ng-class="{'fullscreen':editor.fullscreen.toggled}")
    #code-panel(ng-class="{'mini':vis!='code' && vis!='stylesheet' && vis!='document'}")
      #code-tabs
        .pull-right
          .tab.action(ng-click="settingPanel.toggle()") #[i.fa.fa-cog] #[span settings]
          .tab.action(ng-show="target().owner==user.data.key",
          ng-click="sharePanel.toggle()") #[i.fa.fa-user] #[span share]
        .tab.cat.shown(ng-click="showsrc=!!!showsrc")
          div.text-right #[span src]
          .desc.text-right
            i.glyphicon.glyphicon-chevron-right(ng-cloak,ng-show="!showsrc")
            i.glyphicon.glyphicon-chevron-left(ng-show="showsrc")
        .tab.shown(ng-class="{'active':vis=='preview'}",ng-click="vis='preview'",ng-cloak)
          div #[span preview]
          .desc {{target().dimension|length}} dimensions
        .tab.src(ng-class="{'active':vis=='code','shown':showsrc}",ng-click="vis='code'",ng-cloak)
          div #[span code] #[small javascript]
          .desc {{target().code.size|size}}, {{target().code.lines}} lines
        .tab.src(ng-class="{'active':vis=='stylesheet','shown':showsrc}",ng-click="vis='stylesheet'",ng-cloak)
          div #[span stylesheet] #[small css]
          .desc {{target().style.size|size}}, {{target().style.lines}} lines
        .tab.src(ng-class="{'active':vis=='document','shown':showsrc}",ng-click="vis='document'",ng-cloak)
          div #[span document] #[small html]
          .desc {{target().doc.size|size}}, {{target().doc.lines}} lines
        .tab.src(ng-class="{'active':vis=='assets','shown':showsrc}",ng-click="vis='assets'",ng-cloak)
          div #[span assets] #[small]
          .desc
            span(ng-cloak,ng-if="!target().assets.length") no file
            span(ng-cloak,ng-if="target().assets.length") {{target().assets.length}} files, {{target().assets.size|size}}
    .row
      .col-sm-3
        #config-panel.plpanel
          #chart-settings
            small.grayed.pull-right.clickable(ng-cloak,ng-click="sharePanel.togglePublic()")
              | {{(target().permission.switch[0]=='public'?"published":"private")}}
            label #[span(ng-cloak) {{type}}]&nbsp;
            .chart-config
              .input-group
                span.input-group-addon name
                input.form-control(type="text",ng-model="target().name",placeholder="Project Name")
            .chart-config
              textarea#chart-desc-input.form-control(placeholder="Theme description",
              ng-model="target().description",ng-class="{'hidden':editor.fullscreen.toggled}")

            #chart-action.btn-group(style="width:100%")
              .btn.btn-default.loader(ng-disabled="!target().name",ng-click="save()",
              ng-class="{'loading':save.handle}")
                +SaveFork
              .dropdown
                .btn.btn-default.dropdown-toggle(data-toggle="dropdown",ng-click="download.prepare()")
                  i.fa.fa-download
                  span.caret
                ul.dropdown-menu
                  li.disabled(ng-show="!download.png.url"): a PNG #[img(src="/assets/img/loading.gif")]
                  li.disabled(ng-show="!download.svg.url"): a SVG #[img(src="/assets/img/loading.gif")]
                  li.disabled(ng-show="!download.plotdb.url"): a PlotDB.json #[img(src="/assets/img/loading.gif")]
                  li.disabled(ng-show="download.png.url=='#'"): a PNG #[i.fa.fa-warning.text-danger]
                  li.disabled(ng-show="download.svg.url=='#'"): a SVG #[i.fa.fa-warning.text-danger]
                  li(ng-show="download.png.url && download.png.url!='#'")
                    a(ng-attr-download="{{target().name}}.png",ng-attr-href="{{download.png.url}}")
                      | PNG #[small(ng-show="download.png.size") {{download.png.size|size}}]
                  li(ng-show="download.svg.url && download.svg.url!='#'")
                    a(ng-attr-download="{{target().name}}.svg",ng-attr-href="{{download.svg.url}}")
                      | SVG #[small(ng-show="download.svg.size") {{download.svg.size|size}}]
                  li(ng-show="download.plotdb.url && download.plotdb.url!='#'")
                    a(ng-attr-download="{{target().name}}.plotdb.json",ng-attr-href="{{download.plotdb.url}}")
                      | PlotDB.json #[small(ng-show="download.plotdb.size") {{download.plotdb.size|size}}]
          #chart-configs: .ib
            label Config
            .pull-right: a(href="#",ng-click="resetConfig()") reset
            .chart-config(ng-cloak)
              .btn-group(ng-show="type=='chart'")
                span.input-group-addon Theme
                .dropdown
                  .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                    i.fa.fa-caret-down.pull-right
                    span {{theme.name || 'No Theme'}}
                  ul.dropdown-menu
                    li: a(ng-click="themes.set(null)") No Theme
                    li(ng-repeat="item in themes.list"): a(ng-click="themes.set(item)") {{item.name}}
              .btn-group(ng-show="type=='theme'")
                span.input-group-addon Chart
                .dropdown
                  .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                    i.fa.fa-caret-down.pull-right
                    span {{chart.name || 'No Chart'}}
                  ul.dropdown-menu.charts-dropdown-menu
                    li: a(ng-click="charts.set(null)") No Chart
                    li(ng-repeat="item in charts.list"): a(ng-click="charts.set(item)") {{item.name}}

            .chart-config(ng-cloak,ng-repeat="(name,v) in chart.config",ng-show="!v._bytheme")
              .input-group(ng-if="v.type[0].name!='Choice' && v.type[0].name!='Boolean' && v.type[0].name!='Palette' && v.type[0].name!='Color'")
                span.input-group-addon: div {{v.name || name}}
                input.form-control(type="text",ng-attr-placeholder="{{v.type[0].name}}, e.g: {{v.default}}",ng-model="v.value",style="text-align:center")
              .btn-group(ng-if="v.type[0].name=='Choice'")
                span.input-group-addon: div {{v.name || name}}
                .dropdown
                  .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                    i.fa.fa-caret-down.pull-right
                    span {{v.value}}
                  ul.dropdown-menu
                    li(ng-repeat="choice in v.type[0].values"): a(ng-click="v.value=choice") {{choice}}

              //TODO coloredit
              .btn-group(ng-if="v.type[0].name=='Color'",ng-click="coloredit.edit(v);")
                span.input-group-addon: div {{v.name || name}}
                div(style="display:table-cell;float:left;width:100%;height:100%;border:1px solid #ccc;padding:5px;text-align:center;cursor:pointer;border-top-right-radius:3px;border-bottom-right-radius:3px;")
                  div(ng-attr-style="background:{{v.value}};width:100%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:24px;user-select:none;-webkit-user-select:none",ldColorPicker,ng-model="v.value",config="coloredit.config(v,$index)") &nbsp;
              //- Palette
              .btn-group(ng-if="v.type[0].name=='Palette'",ng-click="paledit.edit(v);")
                span.input-group-addon: div {{v.name || name}}
                div(style="display:flex;float:left;width:100%;height:100%;border:1px solid #ccc;padding:5px 4px;text-align:center;cursor:pointer;border-top-right-radius:3px;border-bottom-right-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)")
                  div(ng-repeat="c in v.value.colors",ng-attr-style="background:{{c.hex}};height:100%;display:inline-block;border-radius:2px;user-select:none;-webkit-user-select:none;flex:1 1 auto;margin:0 1px") &nbsp;
              //- Boolean
              .btn-group(ng-if="v.type[0].name=='Boolean'")
                span.input-group-addon: div {{v.name || name}}
                .btn.btn-default(ng-click="v.value=!!!v.value") {{v.value}}

      .col-sm-9(style="padding-left:0;position:relative"): .ib(style="position:relative")
        #code-error(ng-cloak,ng-show="error.msg",ng-class="{'fullscreen':editor.fullscreen.toggled}") {{error.msg}}
        #code-editor(ng-class="editor.class")
          .closebtn.inner(ng-cloak,ng-click="editor.fullscreen.toggle()",ng-show="editor.fullscreen.toggled")
          #code-header(ng-class="{'fullscreen':editor.fullscreen.toggled}")
            .tabs
              span(ng-class="{'active':vis=='preview'}",ng-click="vis='preview'") #[i.fa.fa-pie-chart] Preview
              span(ng-class="{'active':vis=='code'}",ng-click="vis='code'") #[i.fa.fa-terminal] Code
              span(ng-class="{'active':vis=='stylesheet'}",ng-click="vis='stylesheet'") #[i.fa.fa-paint-brush] Stylesheet
              span(ng-class="{'active':vis=='document'}",ng-click="vis='document'") #[i.fa.fa-code] Document
              span(ng-class="{'active':vis=='assets'}",ng-click="vis='assets'") #[i.fa.fa-files-o] Assets

          #code-editor-code.box(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="codemirror.code",
          ng-model="target().code.content",ui-refrehs="vis",ng-class="{'active':vis=='code'}")
          #code-editor-style.box(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="codemirror.style",
          ng-model="target().style.content",ui-refrehs="vis",ng-class="{'active':vis=='stylesheet'}")
          #code-editor-doc.box(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="codemirror.doc",
          ng-model="target().doc.content",ui-refrehs="vis",ng-class="{'active':vis=='document'}")
          #code-editor-assets.box(ng-cloak,ng-class="{'active':vis=='assets'}")
            .file.uploader Upload ... #[input(type="file",multiple)]
            .file(ng-repeat="f in target().assets",ng-click="assets.preview(f)")
              .closebtn.outer(ng-click="target().removeFile(f)")
              .title {{f.name}}
              .type #[i {{f.type}}] #[small.pull-right {{(f.content || "").length|size}}]
          #code-ctrl
            .btn.btn-default(ng-click="scrollto('#binding-panel')",ng-show="!editor.fullscreen.toggled") Bind Data
            .btn-group
              .btn.btn-default(ng-click="editor.color.toggle()") Editor Style
              .btn.btn-default(ng-click="reset()") Reload
              .btn.btn-default(ng-click="editor.fullscreen.toggle()")
                span(ng-cloak,ng-if="editor.fullscreen.toggled") Leave 
                span
                  | Fullscreen 
                  i.glyphicon.glyphicon-fullscreen(ng-show="!editor.fullscreen.toggled")
                  i.glyphicon.glyphicon-resize-small(ng-show="editor.fullscreen.toggled")
              .btn.btn-default(ng-click="vis='preview'") Preview #[small.hint Alt-Enter]

        #visualization-canvas2.plpanel(ng-class="{'fullscreen':editor.fullscreen.toggled,'active':vis=='preview'}")
          .closebtn.inner(ng-click="editor.fullscreen.toggle()")

          .dropdown(style="position:absolute",ng-show="editor.fullscreen.toggled")
            .btn.btn-default.dropdown-toggle(data-toggle="dropdown",ng-click="download.prepare()")
              i.fa.fa-download
              span.caret
            ul.dropdown-menu
              li.disabled(ng-show="!download.png.url"): a PNG #[img(src="/assets/img/loading.gif")]
              li.disabled(ng-show="!download.svg.url"): a SVG #[img(src="/assets/img/loading.gif")]
              li.disabled(ng-show="!download.plotdb.url"): a PlotDB.json #[img(src="/assets/img/loading.gif")]
              li.disabled(ng-show="download.png.url=='#'"): a PNG #[i.fa.fa-warning.text-danger]
              li.disabled(ng-show="download.svg.url=='#'"): a SVG #[i.fa.fa-warning.text-danger]
              li(ng-show="download.png.url && download.png.url!='#'")
                a(ng-attr-download="{{target().name}}.png",ng-attr-href="{{download.png.url}}")
                  | PNG #[small(ng-show="download.png.size") {{download.png.size|size}}]
              li(ng-show="download.svg.url && download.svg.url!='#'")
                a(ng-attr-download="{{target().name}}.svg",ng-attr-href="{{download.svg.url}}")
                  | SVG #[small(ng-show="download.svg.size") {{download.svg.size|size}}]
              li(ng-show="download.plotdb.url && download.plotdb.url!='#'")
                a(ng-attr-download="{{target().name}}.plotdb.json",ng-attr-href="{{download.plotdb.url}}")
                  | PlotDB.json #[small(ng-show="download.plotdb.size") {{download.plotdb.size|size}}]

          .btn.btn-default(style="position:absolute;bottom:5px;left:5px;",ng-show="!editor.fullscreen.toggled",
          ng-click="scrollto('#binding-panel')") Bind Data
          .btn-group
            .btn.btn-default(ng-click="reset()") Reload
            .btn.btn-default(ng-click="editor.fullscreen.toggle()")
              span(ng-cloak,ng-if="editor.fullscreen.toggled") Leave 
              span
                | Fullscreen 
                i.glyphicon.glyphicon-fullscreen(ng-show="!editor.fullscreen.toggled")
                i.glyphicon.glyphicon-resize-small(ng-show="editor.fullscreen.toggled")
            .btn.btn-default(ng-click="vis='code'") Edit Code #[small.hint Alt-Enter]

          #editor-colorblind-dropup.dropup(style="position:absolute;bottom:5px;left:90px")
            .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
              span(ng-show="colorblind.val=='normal'")
                i.fa.fa-eye-slash.grayed
                span &nbsp;colorblind #[span.caret]
              span(ng-cloak,ng-show="colorblind.val!='normal'")
                i.fa.fa-eye
                span &nbsp;{{colorblind.val}} #[span.caret]
            ul.dropdown-menu
              li(ng-class="{'active':colorblind.val=='normal'}")
                a(href="#",ng-click="colorblind.set('normal')") Normal People
              li(ng-class="{'active':colorblind.val=='protanopia'}")
                a(href="#",ng-click="colorblind.set('protanopia')") Protanopia
              li(ng-class="{'active':colorblind.val=='protanomaly'}")
                a(href="#",ng-click="colorblind.set('protanomaly')") Protanomaly
              li(ng-class="{'active':colorblind.val=='deuteranopia'}")
                a(href="#",ng-click="colorblind.set('deuteranopia')") Deuteranopia
              li(ng-class="{'active':colorblind.val=='deuteranomaly'}")
                a(href="#",ng-click="colorblind.set('deuteranomaly')") Deuteranomaly
              li(ng-class="{'active':colorblind.val=='tritanopia'}")
                a(href="#",ng-click="colorblind.set('tritanopia')") Tritanopia
              li(ng-class="{'active':colorblind.val=='tritanomaly'}")
                a(href="#",ng-click="colorblind.set('tritanomaly')") Tritanomaly
              li(ng-class="{'active':colorblind.val=='achromatopsia'}")
                a(href="#",ng-click="colorblind.set('achromatopsia')") Achromatopsia
              li(ng-class="{'active':colorblind.val=='achromatomaly'}")
                a(href="#",ng-click="colorblind.set('achromatomaly')") Achromatomaly
          //-iframe#chart-renderer(ng-attr-src="{{plotdbRenderer}}",
          iframe#chart-renderer(
          style="width:100%;height:100%;border:none;background:url(/assets/img/loading-sm.svg) center center no-repeat")

    include /editor/bind.jade
    //-
      br
      #binding-panel.relpos.panel.panel-default(ng-controller="datasetList",ng-show="type=='chart'",ng-cloak): .panel-body
        .pull-right.clickable(style="margin-top:5px;",
        ng-click="dataPanel.toggle()") #[i.fa.fa-plus-circle] Add Dataset
        h3 Data Mapping
        .sep.light
        .row

          .col-sm-3(ng-cloak)
            #data-fields.data-fields(style="height:337px;width:100%;overflow-y:scroll;")
              .dataset.compact(style="border:none",ng-show="!chosen.key")
                b choose a dataset to start
                div: small {{datasets.length}} datasets
              .dataset.compact(style="border:none",ng-show="chosen.key")
                b drag field to dimension
                div: small {{chosen.dataset.fields.length}} datasets

              #field-agent.data-field(ng-drag="true",ng-drag-data="fieldAgent.data",
              ng-drag-start="fieldAgent.drag.start()",ng-drag-stop="fieldAgent.drag.end()",ng-show="chosen.key")
                span {{fieldAgent.data.name}}
                small {{fieldAgent.data.type}}
              .dataset.compact(ng-repeat="dataset in datasets",style="cursor:pointer",
              ng-class="{'extend':chosen.key == dataset.key,'mini':chosen.key != dataset.key && chosen.key}")
                div(ng-click="toggle(dataset)")
                  .closebtn.inner(ng-cloak,ng-show="chosen.key == dataset.key")
                  .title {{dataset.name}}
                  .desc {{dataset.size|size}}, {{dataset.rows}} rows, {{dataset.fields.length}} fields
                div
                  .data-field(ng-repeat="field in dataset.fields",ng-mouseover="fieldAgent.setProxy($event,field)",
                  ng-attr-style="background:{{dataset.color}}",ng-drag="true",ng-drag-data="field")
                    span {{field.name}}
                    small {{field.type}}

          .col-sm-9
            #datamap-hint.step2(ng-cloak)
              //-,ng-class="{'step1': !chosen.key, 'step2': chosen.key}")
              //-p(ng-show="!chosen.key") #[i.fa.fa-arrow-left] select a file to map data
              p(ng-show="chosen.key")
                i.fa.fa-arrow-right
                br
                | drag
            .dimensions
              .dimension(ng-cloak,ng-repeat="(name,dim) in chart.dimension",ng-drop="true",
              ng-drop-success="dimension.bind($event,dim,$data)")
                .require(ng-show="dim.require"): i.fa.fa-asterisk
                .title
                  | {{name}}
                  small(ng-cloak,ng-show="dim.multiple",
                  style="color:#999;font-weight:200;font-size:0.7em;margin-left:5px") multi-fields
                .desc
                  span(ng-show="dim.desc") {{dim.desc}} #[br]
                  i accept: #[span(ng-repeat="type in dim.type") {{type.name}}] #[span(ng-show="!dim.type.length") Any]
                .data-field(ng-repeat="field in dim.fields")
                  .closebtn.inner(ng-click="dimension.unbind($event, dim, field)")
                  span {{field.name}}
                  small {{field.type}}
                  small in dataset "{{field.datasetname}}"
              .dimension.flexend

    .row(ng-show="target().key && target().owner == user.data.key",ng-cloak)
      .col-sm-12
        .panel.panel-default
          .panel-heading: label Danger Zone
          .panel-body
            div(style="display:flex")
              div(style="flex: 1 1 0")
                .text-center: label Delete
                p.text-center(ng-cloak) Permanently delete this {{type}}. Are you sure?
                .text-center
                  .btn.btn-danger.loader(ng-click="delete()",ng-class="{'loading':delete.handle}") Yes, Delete it
  include /footer.jade
