include /mixin.jade
mixin publish
  .perm-item(style="padding: 10px 0")
    .btn-group
      .btn.btn-default.btn-sm(ng-class="{'active':target().permission.switch=='publish'}",ng-click="target().permission.switch='publish'")
        i.fa.fa-check.text-success
        span  Published
      .btn.btn-default.btn-sm(ng-class="{'active':target().permission.switch!='publish'}",ng-click="target().permission.switch='draft'")
        i.fa.fa-check.text-success
        span  Draft
    .pull-right.btn.btn-text.btn-sm(
    ng-show="target().permission.switch=='publish'") #[b visible] in embed code / share link
    .pull-right.btn.btn-text.btn-sm(
    ng-show="target().permission.switch!='publish'") #[b invisible] in embed code / share link

+cover-modal("settingPanel.toggled","settingPanel.toggle()","narrow")
  .panel.panel-default(ng-init="settingPanel.tab='publish'")
    .panel-heading &nbsp;
    .panel-body: div(ng-cloak)
      .closebtn.inner.lg.inverse(ng-click="settingPanel.toggle()")
      ul.nav.nav-tabs
        li(ng-class="{'active':settingPanel.tab=='publish'}",ng-click="settingPanel.tab='publish'")
          a(href="#") #[i.fa.fa-bullhorn] Publish
        li(ng-class="{'active':settingPanel.tab=='permission'}",ng-click="settingPanel.tab='permission'")
          a(href="#") #[i.fa.fa-lock] Permission
        li(ng-class="{'active':settingPanel.tab=='chartinfo'}",ng-click="settingPanel.tab='chartinfo'")
          a(href="#") #[i.fa.fa-info-circle] Chart Info
        li(ng-class="{'active':settingPanel.tab=='library'}",ng-click="settingPanel.tab='library'")
          a(href="#") #[i.fa.fa-book] Libraries
        li(ng-class="{'active':settingPanel.tab=='license'}",ng-click="settingPanel.tab='license'")
          a(href="#") #[i.fa.fa-book] License

      div(ng-show="settingPanel.tab=='permission'",style="position:relative")
        include /widget/panel-lock.jade
        div
          +searchable()
          .sep
          div(ng-controller="permEdit",ng-init="setPerm(target().permission)")
            include /widget/permission.jade
            +permPanel('entity')
      div(ng-show="settingPanel.tab=='publish'")
        +publish()
        .sep
        include /widget/publish.jade
      div(ng-show="settingPanel.tab=='chartinfo'")
        .well
          h3(style="margin:0")
            | Chart Info
            if chart
              small.grayed
                | &nbsp; by&nbsp;
                a(href="/user/" + chart.owner)= chart.ownername
          small.grayed increase visibility by providing more information for your chart.
        include /widget/chartinfo.jade
      div(ng-show="settingPanel.tab=='library'")
        .well
          h3(style="margin:0") Library
          small.grayed pick libraries you want to use from this dropdown box.
        include /widget/library.jade
        .sep
        label Inherit Content from Source Chart
        select.form-control(multiple,ngselect2,ng-data="settingPanel.chart.inherit")
          option(value="code") code
          option(value="stylesheet") stylesheet
          option(value="document") document
          option(value="assets") assets
          option(value="config") config
        .sep

      div(ng-show="settingPanel.tab=='license'")
        .well
          h3(style="margin:0") License
          small.grayed How this viswork charges you for different usages

        select.form-control(ng-model="chart.license.name")
          option(value="MIT License") MIT License
          option(value="PlotDB Basic License") PlotDB Basic License
          option(value="PlotDB Expert License") PlotDB Expert License 
          option(value="Custom License") Custom License 
        .sep
        .row.gap
          .col-sm-6
          .col-sm-3
            span Free?
          .col-sm-3
            span Price (USD)
        each i in ["Personal Use", "Generate SVG", "Embedded with IFrame", "Run in Single Site", "Run in Multiple Sites"]
          .row.gap(style="line-height:30px")
            .col-sm-6
              span= i
            .col-sm-3
              select.form-control.input-sm(ng-model="chart.license.options['" + i + "'].free",
              ng-options="o.v as o.n for o in [{n: 'Yes', v: true}, {n: 'No', v: false}]")
            .col-sm-3
              input.form-control.input-sm(
              ng-disabled="chart.license.options['" + i + "'].free",
              ng-model="chart.license.options['" + i + "'].price")

    .panel-footer.text-right(style="padding-left: 5px")
      .btn.btn-default.btn-sm.pull-left.loader(ng-click="clone()",
      ng-class="{'loading':save.handle}") Make a Copy
      .btn.btn-success.btn-sm.loader(ng-class="{'btn-glowing': needSave,'loading':save.handle}",
      ng-click="save()") SAVE
      span &nbsp;
      .btn.btn-default.btn-sm(ng-click="settingPanel.toggle()") Close

