extends /view/module/base.jade
block vars
block head
  script(src="/js/perm/index.js")
  if team
    script.
      window.team = !{JSON.stringify(team).replace(/<\//g, "<\\/")}
      window.members = !{JSON.stringify(members).replace(/<\//g, "<\\/")}
      window.charts = !{JSON.stringify(charts).replace(/<\//g, "<\\/")}
  link(rel="stylesheet",type='text/css',href='/css/dev/index.css')
block body
  .spc1
  .team-header: .inner
    .avatar.xxl(style="background-image:url(/s/avatar/" + (team.avatar || 0) + ".jpg")
    .title #[span= team.name]
    div: small.grayed the team
    if team.description
      .desc= team.description
    else
      .desc.grayed ( no descriptiont... )
  #root.narrow(ng-controller="teamBase"): div(ng-controller="teamEdit")
    +cover-modal("teamPanel.create.toggled","teamPanel.create.toggle()")
      include /team/widget/update.jade
    .text-center(style="margin-top:-55px")
      if userPermission[1] == "admin"
        .btn.btn-default(ng-click="teamPanel.create.toggle()") #[i.fa.fa-pencil] Edit
    br
    br
    .text-center
      label members
      br
      br
      a.team-member(ng-attr-href="/user/{{team.owner}}",ng-cloak)
        .avatar.xl.owner(ng-attr-style="background-image:url(/s/avatar/{{team.owneravatar || 0}}.jpg)")
        span {{team.ownername}}
      a.team-member(ng-repeat="member in members",ng-attr-href="/user/{{member.key}}",ng-cloak)
        .avatar.xl(ng-attr-style="background-image:url(/s/avatar/{{user.avatar || 0}}.jpg)")
          if userPermission[1] == "admin"
            .closebtn(ng-click="removeMember(" + team.key + ",member.key);$event.preventDefault()")
        span {{member.displayname}}
      .team-member(ng-cloak,ng-show="members.length == 0")
        .avatar.xl.empty
        small.grayed add more users
      br
      br
      if userPermission[0] >= 5
        .text-left(style="width:600px;margin:auto")
          label Add members
          .input-group.long
            +selectbox("newMembers","user")
            //-div: select.form-control(multiple="multiple",ngselect4,ng-data="newMembers",type="user")
            .input-group-btn
              .btn.btn-default(ng-click="addMembers("+team.key+")") #[i.fa.fa-plus] add
      br
      br
      .sep.gap
      br
      br
      label works
      br
      br

      a.team-chart(ng-repeat="chart in charts",ng-attr-href="/chart/{{chart.key}}",ng-cloak)
        if userPermission[1] == "admin"
          .closebtn(ng-click="removeChart(" + team.key + ",chart.key);$event.preventDefault()",
          style="margin:-2px 4px 0 0")
        .avatar.xl(ng-attr-style="background-image:url(/s/chart/{{chart.key}}.png)")
        span {{chart.name}}

      .team-chart(ng-cloak,ng-show="charts.length==0")
        .avatar.xl.empty
        small.grayed no charts...
      br
      br
      br
      if userPermission[0] >= 5
        .text-left(style="width:600px;margin:auto")
          label Add charts
          .input-group.long
            +selectbox("newCharts",type="chart")
            //-div: select.form-control.input-sm(multiple="multiple",ngselect4,ng-data="newCharts",type="chart")
            .input-group-btn
              .btn.btn-default(ng-click="addCharts("+team.key+")") #[i.fa.fa-plus] add

  include /view/module/footer
