extends /view/module/base.jade
block vars
block head
  if team
    script.
      window.team = !{JSON.stringify(team).replace(/<\//g, "<\\/")}
      window.members = !{JSON.stringify(members).replace(/<\//g, "<\\/")}
block body
  .spc1
  .team-header: .inner
    .avatar.xxl(style="background-image:url(/s/avatar/" + (team.avatar || 0) + ".jpg")
    .title #[span= team.name]
    div: small.grayed the team
    if team.description
      .desc= team.description
    else
      .desc.grayed ( no descriptiont... )
  #root.narrow(ng-controller="teamBase"): div(ng-controller="teamEdit")
    .cover-modal(ng-cloak,ng-show="teamPanel.create.toggled")
    .cover-modal-inner(ng-cloak,ng-show="teamPanel.create.toggled")
      include /team/widget/create.jade
    .text-center(style="margin-top:-55px")
      .btn.btn-default(ng-click="teamPanel.create.toggle()",
      ng-cloak,ng-show=team.owner+"==user.data.key") #[i.fa.fa-pencil] Edit
    br
    br
    .text-center
      label members
      br
      br
      each user in members
        a.team-member(href="/user/" + user.key)
          .avatar.xl(style="background-image:url(/s/avatar/" + (user.avatar || 0) + ".jpg)")
          span= user.displayname
          //-.btn.btn-link(ng-click="removeMember("+team.key+","+user.key+")"): i.fa.fa-close
      .team-member
        .avatar.xl.empty
        small.grayed add more users
      br
      br
      .text-left(style="width:600px;margin:auto")
        label Add members
        .input-group
          div: select.form-control(multiple="multiple",ngselect2,ng-data="newMembers",type="user")
          .input-group-btn
            .btn.btn-default(ng-click="addMembers("+team.key+")") #[i.fa.fa-plus] add
      br
      br
      .sep.gap
      br
      br
      label works
      br
      br
      .team-member
        .avatar.xl.empty
        small.grayed add more charts
  include /view/module/footer
