#authpanel.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .closebtn(data-dismiss="modal",style="border-radius:50%;background:#222;")
        h4.modal-title.text-center Login to PlotDB
      .moda-body(style="padding:20px")
        form.form
          .form-group
            input.form-control(type="text",placeholder="Email",ng-model="auth.email",
            ng-keypress="auth.keyHandler($event)")
          .form-group
            input.form-control(type="password",placeholder="Password",ng-model="auth.passwd",
            ng-keypress="auth.keyHandler($event)")
          .btn.btn-block.btn-success.btn-lg.loader.loading-success(ng-click="auth.login()",ng-cloak,
          ng-class="{'loading':auth.loading}")
            span(ng-show="!auth.isSignIn") SIGNUP
            span(ng-show="auth.isSignIn") LOGIN
          a.pull-right(href="#",style="margin-top:12px;font-size:12px;") forget password? &#xbb;
          .checkbox: label #[input(type="checkbox")] remember me
        div(style="position:relative")
          hr
          .error(ng-show="auth.failed",ng-cloak) {{auth.failed}}
        #authpanel-social-login.row
          .col-xs-6
            a.btn.btn-default.btn-block(ng-attr-href="/u/auth/facebook?nexturl={{nexturl}}",
            style="font-size:12px")
              i.fa.fa-facebook-official
              span Sign in
          .col-xs-6
            a.btn.btn-default.btn-block(ng-attr-href="/u/auth/google?nexturl={{nexturl}}",
            style="font-size:12px")
              svg(version="1.1",xmlns="http://www.w3.org/2000/svg",width="18px",height="18px",
              viewBox="0 0 48 48"): g
                path(fill="#EA4335",d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z")
                path(fill="#4285F4",d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z")
                path(fill="#FBBC05",d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z")
                path(fill="#34A853",d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z")
                path(fill="none",d="M0 0h48v48H0z")
              span Sign in
            //- this is for Client side login ( very convenient but not there )
            //-.g-signin2(data-onsuccess="onSignIn")
      .modal-footer.text-center(ng-cloak)
        span(ng-show="auth.isSignIn") Newcomer here? #[a(href="#",ng-click="auth.isSignIn=false") Sign up &#xbb;]
        span(ng-show="!auth.isSignIn") Already a member? #[a(href="#",ng-click="auth.isSignIn=true") Sign In &#xbb;]

