extends /base.jade
block vars
  - var rootid = "payview"
  - var url = "https://plotdb.com/dev/pay/"
block head
  script(type="text/javascript",src="https://js.stripe.com/v2/")
  style(type="text/css").
    html,body { background: #fff;}
include pricing-panel.jade
mixin blocks(i)
  .text-center
    each j in [1,2,3,4,5,6,7,8,9]
      +block(i,j)
      if j % 3 == 0
        br
mixin block(i,j)
  - var features = [[["Dataset","1MB",0], ["Free", "Charts",1], ["Default", "Theme",0], ["Public", "Assets",0], ["Traffic", "10MB/M",0], ["PlotDB", "Brand",0], ["PNG", "Download",1], ["No Team", "Control",0], ["Source", "N/A",0]],[ ["Dataset","100MB",1], ["100+", "Charts",1], ["Customize", "Theme",1], ["Public", "Assets",0], ["Traffic", "1G/M",1], ["PlotDB", "Brand",0], ["PNG+SVG", "Download",1], ["No Team", "Control",0], ["Source", "N/A",0]],[ ["Dataset","10GB",1], ["100+", "Charts",1], ["Customize", "Theme",1], ["Privacy", "Control",1], ["Traffic", "100G/M",1], ["Brand", "Free",1], ["PNG+SVG", "Download",1], ["Team", "Control",1], ["Source", "Editing",1]]];
  .prc-plan-icon
    .icon(style="background-position:-" + (63 * 3 * i + ((j - 1)%3)* 63) + "px -" + (parseInt((j - 1)/3) * 63) + "px;")
    .text(class=(features[i][j - 1][2] == 0 ? "grayed" : ""))
      span= features[i][j - 1][0]
      br
      span= features[i][j - 1][1]
mixin selectbtn(current,value)
  div(ng-cloak)
    .btn.btn-link.btn-lg.disabled(ng-if=current) Current Plan&nbsp; #[i.fa.fa-dot-circle-o]
    .btn.btn-lg.btn-success.btn-block(ng-if="setting.plan == " + value) Selected &nbsp; #[i.fa.fa-check-circle]
    .btn.btn-lg.btn-default.btn-block(ng-if="!(" + current +") && setting.plan != " + value, ng-click="setting.plan = " + value)  Select &nbsp; #[i.fa.fa-circle-thin]
block body
  .spc1
  #root(ng-controller="payment")
    div(style="max-width:800px;margin:auto;font-family:lato")
      h1.text-center Pricing
      p.text-center Special Offer for Educational and NGO available. Contact for more information.
      br
      .row
        .col-sm-4(style="border-right:2px solid #ccc")
          .prc-plan-logo.logo1
          .text-center
            h3(style="margin-bottom:2px") NOVICE
            p suitable for a quick evaluation
            +blocks(0)
            h2(style="margin-bottom:0") &nbsp;0$ #[small / month]
            small 0$ / annually
            br
            br
            +selectbtn("!user.data.plan.value", 0)

        .col-sm-4(style="border-right:2px solid #ccc")
          .prc-plan-logo.logo2
          .text-center
            h3(style="margin-bottom:2px") BASIC
            p best for individual expertise
            +blocks(1)
            h2(style="margin-bottom:0") 20$ #[small / month]
            small or 200$ / annually
            br
            br
            +selectbtn("use.data.plan.value == 1", 1)

        .col-sm-4
          .prc-plan-logo.logo3
          .text-center
            h3(style="margin-bottom:2px") EXPERT
            p made for enterprise entity
            +blocks(2)
            h2(style="margin-bottom:0") 50$ #[small / month]
            small or 500$ / annually
            br
            br
            +selectbtn("use.data.plan.value == 2", 2)

      br
      br
      .text-center
        label.radio-inline
          input(type="radio",name="period",checked,ng-model="setting.period",value="0")
          span monthly
        label.radio-inline
          input(type="radio",name="period",ng-model="setting.period",value="1")
          span annually ( save 17% )
      br
      .sep.gap
      br
      .row
        .col-sm-4
          br
          small Your Choice:
          .text-center(ng-cloak)
            h2 #[span(ng-show="setting.plan==1") Basic] #[span(ng-show="setting.plan==2") Expert] Plan
            big
              span ${{prices[setting.period][setting.plan]}} USD / 
              span(ng-show="setting.period=='1'") year
              span(ng-show="setting.period=='0'") month
            br
            br
            small.grayed * this is a recurring payment
            br
            small.grayed(ng-if="user.data.plan.value==1 && setting.plan==2") * we will only ${{prices[setting.period][2] - prices[setting.period][1]}} will be charged for an upgrade in the first #[span(ng-show="setting.period==0") month]#[span(ng-show="setting.period==1") year]
            br

        .col-sm-8
          #prc-cc.panel.panel-default(style="max-width:480px;margin:auto;background:#f9f9f9")
            .panel-body

              .form
                .pull-right: big: big
                  i.fa.fa-cc-visa(ng-class="{'text-primary':cardtype=='Visa'}")
                  i.fa.fa-cc-mastercard(ng-class="{'text-primary':cardtype=='Mastercard'}")
                  i.fa.fa-cc-amex(ng-class="{'text-primary':cardtype=='American Express'}")
                  i.fa.fa-cc-jcb(ng-class="{'text-primary':cardtype=='JCB'}")
                  i.fa.fa-cc-stripe
                label Credit Card Number
                .form-group(ng-class="{'has-feedback has-error':error.number}",style="margin-bottom:13px")
                  input.form-control(type="input",placeholder="Card Number",ng-model="payinfo.number",
                  ng-keydown="check('number')")
                  .form-control-feedback.with-text(ng-show="error.number",ng-cloak,style="margin-top:3px")
                    small 16 digit number, like: 1000200030004000
                .row(style="margin-bottom:13px")
                  .col-sm-7
                    label Expiration Date
                    div
                    .form-group(ng-class="{'has-feedback has-error':error.exp_month}",style="display:inline;margin-bottom:0")
                      input.form-control(type="input",placeholder="Month",ng-model="payinfo.exp_month",
                      style="display:inline;width:50%;border-right:0;border-radius:3px 0 0 3px",
                      ng-keydown="check('exp_month')")
                      .form-control-feedback.with-text(ng-show="error.exp_month",style="margin-top:15px",ng-cloak)
                        small 01 ~ 12, like: 08
                    .form-group(ng-class="{'has-feedback has-error':error.exp_year}",style="display:inline;margin-bottom:0")
                      input.form-control(type="input",placeholder="Year",ng-model="payinfo.exp_year",
                      style="display:inline;width:50%;border-radius:0 3px 3px 0",
                      ng-keydown="check('exp_year')")
                      .form-control-feedback.with-text(ng-show="error.exp_year",style="margin-top:15px",ng-cloak)
                        small future year, like: 2018
                  .col-sm-5
                    label CVC Code
                    .form-group(ng-class="{'has-feedback has-error':error.cvc}",style="margin-bottom:0")
                      input.form-control(type="input",placeholder="CVC",style="display:inline",
                      ng-model="payinfo.cvc",ng-keydown="check('cvc')")
                      .form-control-feedback.with-text(ng-show="error.cvc",ng-cloak)
                        small 3 digit number, like: 476
                small.grayed Have a coupon code?
                .input-group
                  input.form-control.input-sm(type="input",placeholder="Enter coupon code here")
                  span.input-group-btn: .btn.btn-default.btn-sm Apply
                br
              .btn.btn-primary.btn-block.btn-lg(ng-class="{'disabled':error.all}",
              ng-click="createToken()") Make Payment

          img.pull-right(src="/assets/img/pricing/stripe-powered.png",style="margin:5px 20px 0 0")

      br
      br
      br
  .btn.btn-default(ng-click="pricingPanel = true")
  +cover-modal("pricingPanel","pricingPanel = false")
    +pricing-panel
