mixin pricing-panel(toggle)
  #prc-widget.panel.panel-default(ng-controller="payment")
    .panel-body.relpos
      .closebtn.inner.lg.inverse(ng-click=toggle)
      .row.text-center
        .col-sm-6(style="border-right:1px solid #ccc")
          .selection(ng-click="settings.plan=1",ng-class="{'active': settings.plan==1}")
            .prc-widget-logo.logo2
            h3 BASIC PLAN
            small 100+ Charts
            br
            small PNG/SVG Download
            br
            small Customize Theme
            br
            small: a(href="#") detail...
            h3(style="margin-top:10px")
              span ${{prices[settings.period][1]}}
              small: span  / #[span(ng-show="settings.period==0") month]#[span(ng-show="settings.period==1") year]
            i.fa.fa-check-circle.text-success
        .col-sm-6
          .selection(ng-click="settings.plan=2",ng-class="{'active': settings.plan==2}")
            .prc-widget-logo.logo3
            h3 EXPERT PLAN
            small Privacy Control
            br
            small Team Manage
            br
            small Source Editing
            br
            small: a(href="#") detail...
            h3(style="margin-top:10px")
              span ${{prices[settings.period][2]}}
              small: span  / #[span(ng-show="settings.period==0") month]#[span(ng-show="settings.period==1") year]
            i.fa.fa-check-circle.text-success

      br
      .row.text-center
        .col-sm-6
          small.grayed Subscription Frequency
          .btn-group
            .btn.btn-default.btn-sm(ng-class="{'active':settings.period==0}",
            ng-click="settings.period=0") Monthly
            .btn.btn-default.btn-sm(ng-class="{'active':settings.period==1}",
            ng-click="settings.period=1") Yearly ( Save 17% )
        .col-sm-6
          small.grayed Have a coupon code?
          .input-group
            input.form-control.input-sm(type="input",placeholder="Enter coupon code here")
            span.input-group-btn: .btn.btn-default.btn-sm Apply

    #prc-cc.panel-body
      .form
        .pull-right: big: big
          i.fa.fa-cc-visa(ng-class="{'text-primary':cardtype=='Visa'}")
          i.fa.fa-cc-mastercard(ng-class="{'text-primary':cardtype=='Mastercard'}")
          i.fa.fa-cc-amex(ng-class="{'text-primary':cardtype=='American Express'}")
          i.fa.fa-cc-jcb(ng-class="{'text-primary':cardtype=='JCB'}")
          i.fa.fa-cc-stripe
        label Credit Card Number
        .form-group(ng-class="{'has-feedback has-error':error.number}",style="margin-bottom:13px")
          input.form-control(type="input",placeholder="Card Number",ng-model="payinfo.number",
          ng-keydown="check('number')")
          .form-control-feedback.with-text(ng-show="error.number",ng-cloak,style="margin-top:3px")
            small 16 digit number, like: 1000200030004000
        .row(style="margin-bottom:13px")
          .col-sm-7
            label Expiration Date
            div
            .form-group(ng-class="{'has-feedback has-error':error.exp_month}",style="display:inline;margin-bottom:0")
              input.form-control(type="input",placeholder="Month",ng-model="payinfo.exp_month",
              style="display:inline;width:50%;border-right:0;border-radius:3px 0 0 3px",
              ng-keydown="check('exp_month')")
              .form-control-feedback.with-text(ng-show="error.exp_month",style="margin-top:15px",ng-cloak)
                small 01 ~ 12, like: 08
            .form-group(ng-class="{'has-feedback has-error':error.exp_year}",style="display:inline;margin-bottom:0")
              input.form-control(type="input",placeholder="Year",ng-model="payinfo.exp_year",
              style="display:inline;width:50%;border-radius:0 3px 3px 0",
              ng-keydown="check('exp_year')")
              .form-control-feedback.with-text(ng-show="error.exp_year",style="margin-top:15px",ng-cloak)
                small future year, like: 2018
          .col-sm-5
            label CVC Code
            .form-group(ng-class="{'has-feedback has-error':error.cvc}",style="margin-bottom:0")
              input.form-control(type="input",placeholder="CVC",style="display:inline",
              ng-model="payinfo.cvc",ng-keydown="check('cvc')")
              .form-control-feedback.with-text(ng-show="error.cvc",ng-cloak)
                small 3 digit number, like: 476
      .btn.btn-primary.btn-block.btn-lg(ng-class="{'disabled':error.all}",style="margin-top:20px",
      ng-click="subscribe()")
        span Subscribe with 
        span ${{prices[settings.period][settings.plan]}}
        small: span  / #[span(ng-show="settings.period==0") month]#[span(ng-show="settings.period==1") year]
    .pull-right
      img(src="/assets/img/ssl-secure-light.png",style="margin:5px 5px 0 0")
      img(src="/assets/img/pricing/stripe-powered-light.png",style="margin:5px 0 0")
