extends /base.jade
block head
  script(type="text/javascript",src="/js/profile.js")
block body
  //-script(type="text/javascript",src="https://js.stripe.com/v2/")
  include /pricing/credit-card.jade
  +cover-modal("ccPanel.toggle==true","ccPanel.toggle=!!!ccPanel.toggle","narrow")
    +credit-card-panel("ccPanel.toggle=false")
  #root.narrow(ng-cloak)
    h3 {{'Billing Information'|i18n}}
    .sep.gap
    .row
      .col-sm-6
        .panel.panel-default
          .panel-body(style="position:relative")
            .text-center
              div(style="margin-bottom:15px") {{'Current Plan'|i18n}}
              .prc-widget-logo.lg(class="logo" + (plan + 1))
              h2(style="margin-top:0px;margin-bottom:5px")
                if !plan
                  span Free Plan
                if plan == 1
                  span Basic Plan
                if plan == 2
                  span Expert Plan
              if !plan
                small $0 usd / forever
              if !period
                if plan == 1
                  small $20 usd / month
                if plan == 2
                  small $50 usd / month
              if period == 1
                if plan == 1
                  small $200 usd / year
                if plan == 2
                  small $500 usd / year
            br
            .text-center
              //-.btn.btn-link #[i.fa.fa-question-circle-o]  what's in this plan?
              //-span |
              a.btn.btn-link(href="/pricing/") {{'change plan'|i18n}}

      .col-sm-6
        .panel.panel-default
          .panel-body
            span {{'Current Payment Information'|i18n}}:
            br
            .form(style="max-width:480px;margin:auto")
              .sep.gap
              .pull-right: big: big
                i.fa.fa-credit-card(style="vertical-align:top")
              label {{'Using Credit Card'|i18n}}
              input.form-control.disabled(type="input",disabled,placeholder="Card Number",value=ccn)
              br
              .row
                .col-sm-6
                  label {{'Next Billing Due'|i18n}}
                  div(style="background:#eee;padding:5px 10px;border-radius:3px")
                    if expiredate
                      span= "{{'" + expiredate + "'|nicedate}}"
                    else
                      span -
                .col-sm-6
                  label {{'Amount'|i18n}}
                  br
                  div(style="background:#eee;padding:5px 10px;border-radius:3px")= "$" + amount
              .sep.gap
            a.pull-right(href="#",ng-click="ccPanel.toggle=true") {{'update payment method'|i18n}}

    style(type="text/css").
      .pay-history {
        width: 100%;
      }
      .pay-history tr {
        border-bottom: 1px solid #bbb;
      }
      .pay-history tr td{
        border-right: 1px solid #ddd;
        padding: 5px;
        text-align: center;
      }
    .panel.panel-default
      .panel-heading: b {{'Payment History'|i18n}}
      table.panel-body.pay-history
        tr
          td: b {{'State'|i18n}}
          td: b {{'Transaction ID'|i18n}}
          td: b {{'Date'|i18n}}
          td: b {{'Amount'|i18n}}
          td: b {{'Plan'|i18n}}
          td: b {{'Payment Method'|i18n}}

        each item in history
          tr(ng-cloak)
            td: i.fa.fa-check.text-success
            td= item.id
            td= "{{'" + item.date + "'|nicedatetime}}"
            td= "$" + (item.amount/100)
            td= item.plan
            td #[i.fa.fa-credit-card] #[span= item.method]
        tr(ng-show="!history.length")
          td(colspan="6") {{'no transaction record'|i18n}}

  include /footer.jade
