include /mixin.jade
mixin publish
  .perm-item(style="padding: 10px 0")
    .btn-group
      .btn.btn-default.btn-sm(ng-class="{'active':dataset.permission.switch=='publish'}",ng-click="dataset.permission.switch='publish'")
        i.fa.fa-check.text-success
        span  Published
      .btn.btn-default.btn-sm(ng-class="{'active':dataset.permission.switch!='publish'}",ng-click="dataset.permission.switch='draft'")
        i.fa.fa-check.text-success
        span  Draft
    .pull-right.btn.btn-text.btn-sm(
    ng-show="dataset.permission.switch=='publish'") #[b visible] in embed code / share link
    .pull-right.btn.btn-text.btn-sm(
    ng-show="dataset.permission.switch!='publish'") #[b invisible] in embed code / share link

mixin searchable
  .perm-item(style="padding: 10px 0")
    label Searchable?
    br
    .btn-group
      .btn.btn-default.btn-sm(ng-class="{'active':dataset.searchable}",ng-click="dataset.searchable=true")
        i.fa.fa-check.text-success
        span  On
      .btn.btn-default.btn-sm(ng-class="{'active':!dataset.searchable}",ng-click="dataset.searchable=false")
        i.fa.fa-check.text-success
        span  Off
    .pull-right.btn.btn-text.btn-sm(
    ng-show="dataset.searchable") #[b shown] in search result
    .pull-right.btn.btn-text.btn-sm(
    ng-show="!dataset.searchable") #[b hidden] from search result

+cover-modal("panel.toggled","panel.toggle()","narrow")
  .panel.panel-default(ng-init="panel.tab='publish'")
    .panel-heading &nbsp;
    .panel-body: div(ng-cloak)
      .closebtn.inner.lg.inverse(ng-click="panel.toggle()")
      ul.nav.nav-tabs
        li(ng-class="{'active':panel.tab=='publish'}",ng-click="panel.tab='publish'")
          a(href="#") #[i.fa.fa-bullhorn] Publish
        li(ng-class="{'active':panel.tab=='permission'}",ng-click="panel.tab='permission'")
          a(href="#") #[i.fa.fa-lock] Permission
        //-li(ng-class="{'active':panel.tab=='chartinfo'}",ng-click="panel.tab='chartinfo'")
          a(href="#") #[i.fa.fa-info-circle] Chart Info
        //-li(ng-class="{'active':panel.tab=='library'}",ng-click="panel.tab='library'")
          a(href="#") #[i.fa.fa-book] Libraries

      div(ng-show="panel.tab=='permission'",style="position:relative")
        .panel-lock(ng-hide="isAdmin"): div You don't have permission to change this
        +searchable()
        .sep
        div(ng-controller="permEdit",ng-init="setPerm('dataset.permission')")
          include /widget/permission.jade
          +permPanel('entityChart')
      div(ng-show="panel.tab=='publish'")
        +publish()
        .sep
        include /widget/publish.jade
      //-div(ng-show="panel.tab=='chartinfo'")
        .well
          h3(style="margin:0")
            | Chart Info
            if chart
              small.grayed
                | &nbsp; by&nbsp;
                a(href="/user/" + chart.owner)= chart.ownername
          small.grayed increase visibility by providing more information for your chart.
        include /widget/chartinfo.jade
      //-div(ng-show="panel.tab=='library'")
        .well
          h3(style="margin:0") Library
          small.grayed pick libraries you want to use from this dropdown box.
        include /widget/library.jade

    .panel-footer.text-right(style="padding-left: 5px")
      .btn.btn-default.btn-sm.pull-left.loader(ng-click="clone()",
      ng-class="{'loading':save.handle}") Make a Copy
      .btn.btn-success.btn-sm.loader(ng-class="{'btn-glowing': needSave,'loading':save.handle}",
      ng-click="save()") SAVE
      span &nbsp;
      .btn.btn-default.btn-sm(ng-click="panel.toggle()") Close


