extends /base.jade
block vars
  - var rootid = "paletteview"
  - var title = 'Palette Editor / PlotDB'
  - var description = "Your Only Color Picker for Data Visualization."
  - var url = "https://plotdb.com/palette/editor.html"
  - var thumbnail = "https://plotdb.com/assets/img/palette/thumbnail.jpg"
  - var thumbtype = "image/jpeg"
  - var thumb_width = "1200"
  - var thumb_height = "630"
block head
  link(rel="stylesheet",type="text/css",href="/assets/ldcolorpicker/0.1.1/ldcp.css")
  link(rel="stylesheet",type="text/css",href="/css/palette/editor.css")
  script(src="https://d3js.org/d3-selection-multi.v0.4.min.js")
  script(type="text/javascript",src="//d3js.org/topojson.v1.min.js")
  script(type="text/javascript",src="//d3js.org/d3-array.v1.min.js")
  script(type="text/javascript",src="//d3js.org/d3-geo.v1.min.js")
  script(type="text/javascript",src="//d3js.org/d3-color.v1.min.js")
  script(type="text/javascript",src="//d3js.org/d3-interpolate.v1.min.js")
  script(type="text/javascript",src="//d3js.org/d3-scale.v1.min.js")
  script(type="text/javascript",src="//d3js.org/d3-hierarchy.v1.min.js")
  script(type="text/javascript",src="/js/chart/plotd3.js")
  script(type="text/javascript",src="/js/palette/index.js")
  script(type="text/javascript",src="/js/palette/editor.js")
block body
  include ../render/pdb-style.jade
  include ../colorblind.jade
  #root(ng-controller="palEditor")
    br
    .text-center
      .btn-group
        .btn.btn-default.pal-typebtn(ng-click="type=1",ng-class="{'active':type==1}")
          .pal-typeimg(style="background-image:url(/assets/img/palette/qualitative.png)")
          div
            div.text-left: b Qualitative
            div: small use to categorize data
        .btn.btn-default.pal-typebtn(ng-click="type=2",ng-class="{'active':type==2}")
          .pal-typeimg(style="background-image:url(/assets/img/palette/sequential.png)")
          div
            div.text-left: b Sequential
            div: small use in sequential data
        .btn.btn-default.pal-typebtn(ng-click="type=3",ng-class="{'active':type==3}")
          .pal-typeimg(style="background-image:url(/assets/img/palette/diverging.png)")
          div
            div.text-left: b Diverging
            div: small emphasise direction
      .pal-typebtn(style="text-align:left;margin-left: 10px")
        label count
        br
        select.form-control.input-sm(ng-model="count",style="display:inline;margin-right:5px")
          each i in [2,3,4,5,6,7,8,9,10]
            option(value=i)= i
        .btn.btn-default.btn-sm(ng-click="generate(true);render()"): i.fa.fa-refresh
    .sep.break(style="margin-bottom:15px")
    .row(style="max-width:1024px;margin-left:auto;margin-right:auto")
      #pal-editor-ldcp(ng-show="picker.isOn",
      ng-attr-style="left:{{picker.ptr.left}}px;top:{{picker.ptr.top}}px")
        .ldColorPicker.left.no-alpha.no-palette.bubble.text-input
      .col-sm-8
        div(ng-cloak,ng-show="palList.isOn")
          #pal-editor-loader(ng-controller="paletteList")
            .palette-outer(ng-repeat="pal in palettes",ng-click="setPalette(pal)"): .palette
              .name {{pal.name}}
              .palette-color
                .color(ng-repeat="c in pal.colors",
                ng-style="{background:c.hex,width:(100/pal.colors.length)+'%'}")
            .loader.alone.sm.block-center(ng-cloak,ng-class="{'loading':paging.loading && !paging.end}")
            #pal-list-end.text-center(style="margin:-20px 0 10px")
              span(ng-cloak,ng-show="paging.end") this is the end :)

          #pal-editor-loader-arrow

        #pal-blindtest-hint(ng-cloak,ng-show="blindtest!='normal'")
          i.fa.fa-eye
          span &nbsp;colorblind testing &nbsp;
          i.fa.fa-close.clickable(ng-click="blindtest='normal'")
        #pal-editor-preview-wrap.pdb-root(ng-class="{'loading':loading}",style="padding-bottom:5px")
          svg#pal-editor-preview(width="100%",height="407px",viewBox="0 0 800 407",
          preserveAspectRatio="xMidYMin",ng-attr-style="filter:url(#{{blindtest}})")
          div(style="position:absolute;bottom:10px;left:20px")
            .btn-group(style="display:inline-block")
              .btn.btn-default.btn-sm(ng-class="{'active':preview.type=='map'}",ng-click="preview.type='map'") US Map
              .btn.btn-default.btn-sm(ng-class="{'active':preview.type=='bubble'}",
              ng-click="preview.type='bubble'") Bubbles
          div(style="position:absolute;bottom:10px;right:20px")
            .text-right: small: b colorblind test&nbsp;
            select.form-control.input-sm(style="width:100px",ng-model="blindtest")
              option(value="normal") Normal
              option(value="protanopia") Red-Green
              option(value="achromatopsia") Monochromasy

      #pal-editor-config.col-sm-4
        .pal-colorblocks
          .pal-colorblock(ng-repeat="c in palette.colors")
            .pal-pickhint(ng-class="{'show':picker.disabled($index)}"): i.fa.fa-ban
            .pal-color.picked(ng-attr-style="background:{{c.hex}}",ng-click="picker.toggle($event,c)",
            ng-class="{'disabled':picker.disabled($index)}")
            .pal-color.colorblind(ng-attr-style="background:{{c.hex}}")
            span(ng-cloak) {{c.hex}}
        br
        label load palette...
        br
        .btn-group(style="width:165px")
          .btn.btn-default(ng-click="palList.toggle($event)",style="width:83px") Load
          .btn.btn-default(ng-click="create()",style="width:82px") New
        br
        br
        label save palette
        .input-group(style="width:165px")
          input#pal-editor-name.form-control(placeholder="palette name",ng-model="palette.name",
          data-toggle="tooltip",data-placement="bottom",title="give it a name!")
          span.input-group-btn: .btn.btn-default(ng-click="save()") Save
    .sep.gap
    div(style="max-width:1024px;margin:auto")
      .row
        .col-sm-8
          .btn.btn-danger(style="margin-left:14px",ng-click="delete()",
          ng-class="{'disabled':!palette.key || palette._type.location!='server'}") delete #[i.fa.fa-trash]
          .pull-right.input-group(style="max-width:400px")
            input#pal-editor-output.form-control(type="text",ng-model="jsonOutput",
            data-clipboard-target="#pal-editor-output")
            span.input-group-btn
              #pal-editor-output-copy.btn.btn-default(data-clipboard-target="#pal-editor-output") Copy
        .col-sm-4
  include ../footer.jade
