extends /base.jade
mixin panel-closebtn 
  .pull-right: .closebtn.inner.inverse.lg(ng-click="panel.set('')")
block vars
  if !chart
    - var rootid = "chartview"
    - var title = 'Visualization Editor @ PlotDB'
    - var description = "Create, share and request visualizations online."
    - var thumbnail = "https://plotdb.com/assets/img/thumbnail.png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/"
  else
    - var rootid = "chartview"
    - var title = (chart.name || 'New Chart') + ' / Visualize with PlotDB'
    - var description = chart.description || 'share your visualization via PlotDB.'
    - var thumbnail = "https://plotdb.com/s/chart/" + chart.key + ".png"
    - var thumbtype = "image/png"
    - var rootpath = "/module"
    - var url = "https://plotdb.com/chart/" + chart.key
  - use.stripe = false;
block head
  script(src="https://apis.google.com/js/api.js")

  link(rel="stylesheet",type="text/css",href="/css/pack/editor.css?" + version)
  //-
    link(rel="stylesheet",type="text/css",href="/dist/0.1.0/plotdb.min.css")
    link(rel="stylesheet",type="text/css",href="/assets/ion-rangeslider/2.1.7/css/ion.rangeSlider.css")
    link(rel="stylesheet",type="text/css",href="/assets/ion-rangeslider/2.1.7/css/ion.rangeSlider.skinFlat.css")
  if false
    script(src="/js/pack/editor.js?" + version)
  else
    script(type="text/javascript",src="/assets/ion-rangeslider/2.1.7/js/ion.rangeSlider.min.js")
    script(type="text/javascript",src="/lib/plotd3/0.1.0/index.js")
    script(type="text/javascript",src="/js/dev/editor/main.js")
    script(type="text/javascript",src="/js/dev/editor/utility.js")
    script(type="text/javascript",src="/js/dev/sheet/index.js")
    script(type="text/javascript",src="/js/dev/misc/utility.js")
    script(type="text/javascript",src="/js/dev/misc/paledit.js")
    script(type="text/javascript",src="/js/pack/view.js")

  include /colorblind.jade
  if chart
    script.
      window.chart = !{(JSON.stringify(chart) || "").replace(/<\//g, "<\\/")}
  if permtype
    script.
      window.permtype = !{(JSON.stringify(permtype) || "").replace(/<\//g, "<\\/")};

block body
  .editor-root(ng-controller="plChartEditor",ng-cloak,style="background:url(/assets/img/transparent.png)"): .inner
    .float-hint(ng-cloak,ng-if="!hint.hide.oldeditor",style="top:105px;right:30px;left:auto;transform:translateX(0)")
      span(ng-if="lang=='en'") Want to use the earlier version editor? #[a(href="v1/") click here]
      span(ng-if="lang=='zh'") 習慣舊的編輯器嗎？ #[a(href="v1/") 點此前往]
      span.clickable(ng-click="hint.hide.oldeditor = true") &nbsp; &times;
    include panel/index.jade
    include /widget/paledit-modal-ctrl.jade
    include modal/chart-name.jade
    .editor-funclist
      .editor-func(ng-class="{'active':panel.tab==''}", ng-click="panel.set('')")
        i.fa.fa-eye
        span {{'Preview'|i18n}}
      .editor-func(ng-class="{'active':panel.tab=='data'}", ng-click="panel.set('data')")
        i.fa.fa-table
        span {{'Data'|i18n}}
      .editor-func(ng-class="{'active':panel.tab=='style'}", ng-click="panel.set('style')")
        i.fa.fa-sliders
        span {{'Style'|i18n}}
      .editor-func(ng-class="{'active':panel.tab=='download'}", ng-click="panel.set('download')")
        i.fa.fa-cloud-download
        span {{'Download'|i18n}}
      .editor-func(ng-class="{'active':panel.tab=='share'}", ng-click="panel.set('share')")
        i.fa.fa-share-square
        span {{'Share'|i18n}}
      .editor-func(ng-class="{'active':panel.tab=='settings'}", ng-click="settingPanel.toggle('permission')")
        i.fa.fa-cog
        span {{'Settings'|i18n}}
      .editor-func(ng-click="save()")
        i.fa.fa-save
        span {{'Save'|i18n}}
    //-.editor-func-detail(ng-show="panel.tab=='data'",style="width:500px"): .inner(ng-controller="dataEditCtrl")
    #editor-dataset.editor-func-detail(ng-class="{'full':panel.size.doc=='sm' || panel.size.value.dataset=='full'}",
    ng-show="panel.tab=='data'")
      .hover-tip.right(ng-if="!hint.hide.bind")
        span(ng-if="lang=='en'") {{'your can bind data to chart through these dropmenu'|i18n}}
        span(ng-if="lang=='zh'") {{'您可以透過這個下拉選單將資料連結到圖表喔！'|i18n}}
        .sep.nogap
        a(href="#",ng-click="hint.hide.bind=true") {{'OK I GOT IT'|i18n}} &times;
      .inner(ng-controller="plSheetEditor")
        +panel-closebtn
        .title {{'Data'|i18n}}
        include /dataset/widget/modal.jade
        include modal/sheet-clone.jade
        #editor-datagrid.body(style="padding-left:0;padding-right:0")
          #dataset-import-dropdown-inline.dropdown.btn-group
            .btn.btn-sm.btn-default.dropdown-toggle(data-toggle="dropdown")
              span {{'Import'|i18n}}... #[span.caret]
            .name(ng-if="dataset.obj.key")
              div: small.grayed {{'Current Dataset'|i18n}}
              div.text-overflow(style="max-width:250px")
                a(ng-attr-href="/dataset/{{dataset.obj.key}}",
                target="_blank") {{dataset.obj.name}} #[small.grayed ({{dataset.obj.key}})]

            ul.dropdown-menu
              li.dropdown
                a.toggle-filepick(href="#")
                  input#dataset-edit-csv-file(type="file",
                  askencoding="parser.csv.askencoding",
                  readby="parser.csv.import",encoding="{{parser.csv.encoding}}")
                  span #[i.fa.fa-file-text-o.align16] {{'upload CSV file'|i18n}} ...
              li: a.toggle-filepick(href="#")
                input#dataset-edit-xls-file(type="file",readby="parser.xls.read")
                span #[i.fa.fa-file-excel-o.align16] {{'upload Excel'|i18n}} (.xls, .xlsx)
              li.divider
              li(ng-click="parser.gsheet.toggle()"): a(href="#") #[i.fa.fa-table.align16] {{'from Google Sheet'|i18n}}
              li(ng-click="parser.plotdb.toggle()"): a(href="#") #[i.fa.fa-database.align16] {{'from PlotDB Dataset'|i18n}}
          #dataset-editbox
            #dataset-edit-grid.sheet-outer
              .sheet.clusterize
                .sheet-dim(ng-click="grid.data.bindField($event)")
                .sheet-head(data-rowcount="5")
                .sheet-body-outer
                  .sheet-body.clusterize-scroll
                    .sheet-cells.clusterize-content
        .foot
          .btn.btn-default(ng-click="chart.data.sample()") {{'Load Sample Data'|i18n}}
          span &nbsp;
          .btn.btn-default(ng-click="chart.data.clear()") {{'Clear'|i18n}}
          .pull-right
            .btn.btn-default(ng-if="!panel.size.doc",ng-click="panel.size.set('dataset','full')") 
              i.fa.fa-long-arrow-right(ng-if="panel.size.value.dataset!='full'")
              i.fa.fa-long-arrow-left(ng-if="panel.size.value.dataset=='full'")
            span &nbsp;
            .btn.btn-default(ng-click="panel.set('')") {{'Close'|i18n}}

    .editor-func-detail(ng-show="panel.tab=='style'",ng-class="{'full':panel.size.doc=='sm'}"): .inner
      +panel-closebtn
      .title {{'Style'|i18n}}
      .body
        //-
        div(ng-repeat="(category,list) in chart.config.group",ng-show="!v._bytheme",style="margin-bottom:40px")
          h3(style="padding-bottom:5px;border-bottom:1px solid #ccc") {{category}}
          div(style="display:flex;flex-wrap:wrap")
            div(ng-cloak,ng-repeat="(name,v) in list",
            ng-show="!v._bytheme",ng-attr-style="margin:0 10px 15px;width:{{v.desc || v.type[0].name == 'EditableChoice' ? '100%' : '40%'}};flex:1 1 auto")
              span {{v.name || name}}
              small.grayed(ng-if="v.desc",style="position:relative;top:0;display:block;line-height:1em;margin-bottom:5px") {{v.desc}}
              .btn-group.btn-block(ng-if="v.type[0].name=='Choice'")
                .dropdown
                  .btn.btn-default.dropdown-toggle.btn-block(data-toggle="dropdown")
                    i.fa.fa-caret-down.pull-right
                    span {{v.value.name || v.value}}
                  ul.dropdown-menu
                    li(ng-repeat="choice in v.type[0].values"): a(ng-click="v.value=choice") {{choice.name || choice}}

              .btn-group.btn-block(ng-if="v.type[0].name=='Boolean'")
                .btn.btn-default.btn-block(ng-click="v.value=!!!v.value") {{(v.value ?  'Yes' : 'No')|i18n}}

              .input-color(ng-if="v.type[0].name=='Color'")
                div(ng-attr-style="box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);background:{{v.value}};width:100%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:34px;user-select:none;-webkit-user-select:none",ldColorPicker,ng-model="v.value",config="coloredit.config(v)") &nbsp;
              input.irs(ng-ion-slider,ng-if="v.type[0].name=='Range'",ng-value="v.value",config="{type:'double'}")
              input.irs(ng-ion-slider,ng-if="v.type[0].name=='Number'",ng-value="v.value",config="{min: v.min || 0, max: v.max || 100}")
              //-input(ng-if="v.type[0].name=='Number'",type="range",ng-model="v.value")
              //-input.form-control(ng-if="v.type[0].name=='String' || v.type[0].name=='Number' || !v.type[0].name",ng-attr-placeholder="{{v.type[0].name}}, e.g: {{v.default}}",ng-model="v.value")

              input.form-control(ng-if="v.type[0].name=='String' || !v.type[0].name",ng-attr-placeholder="{{v.type[0].name}}, e.g: {{v.default}}",ng-model="v.value")
              .dropdown(ng-if="v.type[0].name=='EditableChoice'",style="position:relative")
                input.form-control(ng-model="v.value")
                .btn.btn-default.dropdown-toggle(data-toggle="dropdown",style="position:absolute;top:0;right:0")
                  i.fa.fa-caret-down.pull-right(style="line-height:20px")
                  span {{v.value.name || v.value}}
                ul.dropdown-menu(style="left:auto;right:0")
                  li(ng-repeat="choice in v.type[0].values"): a(ng-click="v.value=choice") {{choice.name || choice}}

              .btn-group(ng-if="v.type[0].name=='Palette'",ng-click="paledit.edit(v);",style="width:100%")
                .input-palette(style="display:flex;flex-wrap:wrap")
                  div(ng-repeat="c in v.value.colors",ng-attr-style="background:{{c.hex}};height:34px;display:inline-block;border-radius:2px;user-select:none;-webkit-user-select:none;flex:1 1 auto;margin:0 1px") &nbsp;

        //-.chart-config-group(ng-cloak,ng-repeat="(category,list) in configHash.value",ng-show="!v._bytheme")
          .chart-config-category {{category}}
          .chart-config(ng-cloak,ng-repeat="(name,v) in list",ng-show="!v._bytheme")
            // Otherwise
            i.fa.fa-question-circle(ng-cloak,ng-show="v.desc")
            .hint-popup {{v.desc}}
            .input-group(ng-if="v.type[0].name!='Choice' && v.type[0].name!='Boolean' && v.type[0].name!='Palette' && v.type[0].name!='Color' && v.type[0].name!='Range'")
              span.input-group-addon: div {{v.name || name}}
              input.form-control(type="text",ng-attr-placeholder="{{v.type[0].name}}, e.g: {{v.default}}",ng-model="v.value",style="text-align:center")
            .btn-group(ng-if="v.type[0].name=='Choice'")
              span.input-group-addon: div {{v.name || name}}
              .dropdown
                .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                  i.fa.fa-caret-down.pull-right
                  span {{v.value.name || v.value}}
                ul.dropdown-menu
                  li(ng-repeat="choice in v.type[0].values"): a(ng-click="v.value=choice") {{choice.name || choice}}
            //- Color
            .btn-group(ng-if="v.type[0].name=='Color'")
              span.input-group-addon: div {{v.name || name}}
              .input-color
                div(ng-attr-style="background:{{v.value}};width:100%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:30px;user-select:none;-webkit-user-select:none",ldColorPicker,ng-model="v.value",config="coloredit.config(v)") &nbsp;
            //- Range
            .input-group.chart-config-range(ng-if="v.type[0].name=='Range'")
              span.input-group-addon: div {{v.name || name}}
              div.form-control
                input.form-control(ng-model="v.value[0]")
                span to
                input.form-control(ng-model="v.value[1]")
            //- Palette
            .btn-group(ng-if="v.type[0].name=='Palette'",ng-click="paledit.edit(v);")
              span.input-group-addon: div {{v.name || name}}
              .input-palette
                div(ng-repeat="c in v.value.colors",ng-attr-style="background:{{c.hex}};height:30px;display:inline-block;border-radius:2px;user-select:none;-webkit-user-select:none;flex:1 1 auto;margin:0 1px") &nbsp;
            //- Boolean
            .btn-group(ng-if="v.type[0].name=='Boolean'")
              span.input-group-addon: div {{v.name || name}}
              .btn.btn-default(ng-click="v.value=!!!v.value") {{v.value}}
        .chart-config.chart-config-end(style="background:none")
      .foot
        .btn.btn-default.pull-left(ng-click="chart.config.reset()") {{'Reset Config'|i18n}}
        //-.btn.btn-sm.btn-default.dropdown-toggle.pull-left(data-toggle="dropdown",style="vertical-align:top")
          span {{'Responsive'|i18n}}... #[span.caret]
        .btn.btn-default.pull-right(ng-click="panel.set('')") {{'Close'|i18n}}

    .editor-func-detail(ng-show="panel.tab=='share'",ng-class="{'full':panel.size.doc=='sm'}")
      .inner
        +panel-closebtn
        .title {{'Share'|i18n}}
        div(style="padding:20px 20px 0")
          .btn-group
            .btn.btn-default(ng-class="{'active':chart.obj.permission.switch=='publish'}",
            ng-click="chart.obj.permission.switch='publish'") {{'Publish'|i18n}}
            .btn.btn-default(ng-class="{'active':chart.obj.permission.switch!='publish'}",
            ng-click="chart.obj.permission.switch='draft'") {{'Draft'|i18n}}
        .sep.nogap(style="margin-top:20px")
        .body.relpos
          .mask(ng-show="chart.obj.owner==4 || !chart.obj.key",style="top:0;left:0;width:100%;height:100%;background:rgba(244,244,244,0.85);z-index:999;position:absolute")
            br
            br
            br
            div(style="text-align:center")
              big
                span(ng-if="lang=='en'") You have to save before sharing the link
                span(ng-if="lang=='zh'") 請先存檔、我們才能做分享連結給您喔！
              br
              br
              .btn.btn-success.btn-lg(ng-click="save()") #[i.fa.fa-save] {{'Save'|i18n}}
          a.pull-right(ng-attr-href="{{sharePanel.link}}",target="_blank") {{'open in new window'|i18n}}
          label {{'Publish Link'|i18n}}
          .input-group
            input#edit-sharelink.form-control(ng-model="sharePanel.link",
            readonly,data-clipboard-target="#edit-sharelink")
            span.input-group-btn
              #edit-sharelink-btn.btn.btn-default(data-clipboard-target="#edit-sharelink") {{'COPY'|i18n}}
          br
          .pull-right: .checkbox(style="margin:0")
            label #[input(type="checkbox",ng-model="sharePanel.aspectRatio")] #[span {{'Preserve Aspect Ratio'|i18n}}]
          label {{'Embed Code'|i18n}}
          .well
            .input-group.dual(ng-show="sharePanel.aspectRatio")
              input.form-control.input-sm(ng-model="sharePanel.embed.widthRate")
              span.input-group-addon &times;
              input.form-control.input-sm(ng-model="sharePanel.embed.heightRate")
            .input-group.dual(ng-show="!sharePanel.aspectRatio")
              input.form-control.input-sm(ng-model="sharePanel.embed.width")
              span.input-group-addon &times;
              input.form-control.input-sm(ng-model="sharePanel.embed.height")
            br
            .input-group
              input#edit-embedcode.form-control(ng-model="sharePanel.embedcode",
              readonly,data-clipboard-target="#edit-embedcode")
              span.input-group-btn
                #edit-embedcode-btn.btn.btn-default(data-clipboard-target="#edit-embedcode") {{'COPY'|i18n}}
        .sep.nogap
        .body.relpos
          label {{'Open Graph'|i18n}} #[small.grayed {{'summary in SNS posts'|i18n}}]
          .sep
          label {{'Title'|i18n}}
          input.form-control(ng-model="chart.obj.name",ng-attr-placeholder="{{'title shown in social media'|i18n}}")
          br
          label {{'Footer'|i18n}}
          input.form-control(ng-model="chart.obj.footer",ng-attr-placeholder="{{'e.g., data source'|i18n}}")
          br
          label {{'Description'|i18n}}
          textarea.form-control(ng-model="chart.obj.description",
          ng-attr-placeholder="{{'summary shown in social media'|i18n}}")
          br
      .foot.text-right
        .btn.btn-default(ng-click="panel.set('')") {{'Close'|i18n}}

    .editor-func-detail(ng-show="panel.tab=='download'",ng-class="{'full':panel.size.doc=='sm'}"): .inner
      +panel-closebtn
      .title {{'Download'|i18n}}
      .body
        label {{'Download As'|i18n}}:
        ul.list-group
          li.list-group-item(ng-class="{'active':download.format=='svg'}",
          ng-click="download.fetch('svg')") SVG #[small.grayed.pull-right {{'for Vector Editing'|i18n}}]
          li.list-group-item(ng-class="{'active':download.format=='png'}",
          ng-click="download.fetch('png')") PNG #[small.pull-right.grayed {{'for Raster Editing'|i18n}}]
          li.list-group-item(ng-class="{'active':download.format=='png-hd'}",
          ng-click="download.fetch('png-hd')") PNG #[small.grayed ( {{'Hi Res'|i18n}} )]
          li.list-group-item(ng-class="{'active':download.format=='plotdb'}",
          ng-click="download.fetch('plotdb')") JS #[small.pull-right.grayed {{'for Developer'|i18n}}]
        .pull-right
          .checkbox(style="margin:0"): label #[input(type="checkbox",ng-model="download.customSize")] #[span {{'enable'|i18n}}]
        label {{'Custom Size'|i18n}}
        .input-group.dual
          input.form-control.input-sm(placeholder="width",
          ng-model="canvas.dimension.custom.width",ng-disabled="!download.customSize")
          span.input-group-addon &times;
          input.form-control.input-sm(placeholder="height",
          ng-model="canvas.dimension.custom.height",ng-disabled="!download.customSize")
        .sep.gap
        .text-right
          a.btn.btn-success.loader(ng-click="download.clear()",ng-attr-download="{{download.filename}}",
          ng-attr-href="{{download.url}}",
          ng-class="{'disabled':!download.ready,'loading':download.loading,'animated infinite tada':download.ready}") {{'Download'|i18n}}
          span &nbsp;
          .btn.btn-default(ng-click="panel.set('')") {{'Cancel'|i18n}}
    #editor-code.editor-func-detail(
    ng-class="{'active':panel.tab=='editor','full':panel.size.value.editor=='full' || panel.size.doc=='sm'}")
      .btn.btn-dark(ng-if="!panel.size.doc",ng-click="panel.size.set('editor','full')")
        i.fa.fa-long-arrow-right(ng-if="panel.size.value.editor!='full'")
        i.fa.fa-long-arrow-left(ng-if="panel.size.value.editor=='full'")
      .inner(style="padding-bottom:0")
        textarea#editor-textarea(codeeditor,ng-model="editor")
    include modal/assets.jade


    #viscanvas(viscanvas,ng-model="canvas")
      .inner(style="width:100%;height:100%;overflow:hidden;padding-bottom:0")
        iframe
    .editor-ctrls
      .dropup.btn-group
        .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          span(ng-show="canvas.colorblind.value=='normal'")
            i.fa.fa-eye-slash.grayed
            span &nbsp;{{'colorblind'|i18n}} #[span.caret]
          span(ng-cloak,ng-show="canvas.colorblind.value!='normal'")
            i.fa.fa-eye
            span &nbsp;{{canvas.colorblind.value|i18n}} #[span.caret]
        ul.dropdown-menu
          li(ng-class="{'active':canvas.colorblind.value=='normal'}")
            a(href="#",ng-click="canvas.colorblind.set('normal')",
            data-track="ChartEditor,Colorblind,Normal") {{'Normal People'|i18n}}
          li(ng-class="{'active':canvas.colorblind.value=='deuteranopia'}")
            a(href="#",ng-click="canvas.colorblind.set('deuteranopia')",
            data-track="ChartEditor,Colorblind,Red-Green") {{'Red-Green'|i18n}} #[small.grayed (9%)]
          li(ng-class="{'active':canvas.colorblind.value=='achromatopsia'}")
            a(href="#",ng-click="canvas.colorblind.set('achromatopsia')",
            data-track="ChartEditor,Colorblind,Monochromasy") {{'Monochromasy'|i18n}} #[small.grayed (0.003%)]
          li.divider
          small.grayed(style="margin-left:20px") {{'Advanced Options'|i18n}}
          each type in ['protanopia','protanomaly','deuteranopia','deuteranomaly','tritanopia','tritanomaly','achromatopsia','achromatomaly']
            li(ng-class="{'active':canvas.colorblind.value=='" + type + "'}")
              a(href="#",ng-click="canvas.colorblind.set('" + type + "')",
              data-track="ChartEditor,Colorblind," + type)= "{{'" + type + "'|i18n}}"

      span &nbsp;
      .dropup.btn-group
        .btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          span(ng-show="canvas.dimension.value=='default'")
            i.fa.fa-desktop.grayed
            span &nbsp;{{'Canvas Size'|i18n}} #[span.caret]
          span(ng-cloak,ng-show="canvas.dimension.value!='default'")
            i.fa.fa-desktop
            span &nbsp;{{canvas.dimension.value|i18n}} #[span.caret]
        ul.dropdown-menu
          li(ng-class="{'active':canvas.dimension.value=='default'}")
            a(href="#",ng-click="canvas.dimension.set('default')",
            data-track="ChartEditor,Responsive,Default") {{'Auto Scale'|i18n}}
          li(ng-class="{'active':canvas.dimension.value=='QVGA'}")
            a(href="#",ng-click="canvas.dimension.set('QVGA')",
            data-track="ChartEditor,Responsive,QVGA") QVGA #[small.grayed (240x320)]
          li(ng-class="{'active':canvas.dimension.value=='HVGA'}")
            a(href="#",ng-click="canvas.dimension.set('HVGA')",
            data-track="ChartEditor,Responsive,HVGA") HVGA #[small.grayed (320x480)]
          li(ng-class="{'active':canvas.dimension.value=='Full HD'}")
            a(href="#",ng-click="canvas.dimension.set('FullHD')",
            data-track="ChartEditor,Responsive,FullHD") {{'Full HD'|i18n}}#[small.grayed (1920x1080)]
          li(ng-class="{'active':canvas.dimension.value=='4K'}")
            a(href="#",ng-click="canvas.dimension.set('4K')",
            data-track="ChartEditor,Responsive,FullHD") {{'4K'|i18n}}#[small.grayed (3840x2160)]
          li(ng-class="{'active':canvas.dimension.value=='Thumb'}")
            a(href="#",ng-click="canvas.dimension.set('Thumb')",
            data-track="ChartEditor,Responsive,Thumb") {{'Thumb'|i18n}}#[small.grayed (308x229)]
          li(ng-class="{'active':canvas.dimension.value=='Custom'}")
            a(href="#",ng-click="canvas.dimension.set('Custom')",
            data-track="ChartEditor,Responsive,Custom")
              div {{'Custom'|i18n}}
              input.form-control-inline.input-xs.dimension(ng-model="canvas.dimension.custom.width",
              type="text",placeholder="width")
              span &nbsp;&times;&nbsp;
              input.form-control-inline.input-xs.dimension(ng-model="canvas.dimension.custom.height",
              type="text",placeholder="height")


      span &nbsp;
      .btn.btn-default(ng-click="chart.reset()"): i.fa.fa-refresh
      span &nbsp;
      span.chart-config
        div(ng-click="paledit.edit(chart.config.value.palette);",style="width:200px;display:inline-block;padding:2px;vertical-align:bottom",ng-if="chart.config.value.palette")
          span {{'Palette'|i18n}}
          .input-palette(style="border-radius:2px;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.2);")
            div(ng-repeat="c in chart.config.value.palette.value.colors",
            ng-attr-style="background:{{c.hex}};height:30px;display:inline-block;border-radius:0px;user-select:none;-webkit-user-select:none;flex:1 1 auto;margin:0 0px") &nbsp;
        div(style="width:64px;display:inline-block;padding:2px;vertical-align:bottom;margin-left:10px;",ng-if="chart.config.value.textFill")
          span {{'Text Fill'|i18n}}
          .input-color
            div(ng-attr-style="background:{{chart.config.value.textFill.value}};width:100%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:30px;user-select:none;-webkit-user-select:none;box-shadow:0 1px 3px rgba(0,0,0,0.3)",ldColorPicker,ng-model="chart.config.value.textFill.value",config="coloredit.config(chart.config.value.textFill)") &nbsp
        div(style="width:64px;display:inline-block;padding:2px;vertical-align:bottom;margin-left:10px;",ng-if="chart.config.value.background")
          span {{'Bk Color'|i18n}}
          .input-color
            div(ng-attr-style="background:{{chart.config.value.background.value}};width:100%;height:100%;display:inline-block;border-radius:2px;margin:0 1px;height:30px;user-select:none;-webkit-user-select:none;box-shadow:0 1px 3px rgba(0,0,0,0.3)",ldColorPicker,ng-model="chart.config.value.background.value",config="coloredit.config(chart.config.value.background)") &nbsp
        .btn.btn-default(style="margin-left:10px;",ng-click="panel.set('style')",ng-class="{'active':panel.tab=='style'}"): i.fa.fa-cogs


    .editor-panel-tab
      .icon(ng-class="{'active':panel.tab==''}",ng-click="panel.set('')"): i.fa.fa-eye
      .icon(ng-class="{'active':panel.tab=='editor' && editor.tab.value=='code'}",
      ng-click="panel.set('editor',true);editor.tab.set('code')") JS
      .icon(ng-class="{'active':panel.tab=='editor' && editor.tab.value=='style'}",
      ng-click="panel.set('editor',true);editor.tab.set('style')") CSS
      .icon(ng-class="{'active':panel.tab=='editor' && editor.tab.value=='doc'}",
      ng-click="panel.set('editor',true);editor.tab.set('doc')") HTML
      .icon(ng-click="chartModal.assets.ctrl.toggle()") ASSET
      .icon
        .dropdown.btn-group
          .btn.btn-xs.btn-default.dropdown-toggle(data-toggle="dropdown")
            span
              span #[i.fa.fa-adjust] #[span.caret]
          ul.dropdown-menu
            li(ng-class="{'active':editor.theme.value=='default'}")
              a(href="#",ng-click="editor.theme.set('default')") #[i.fa.fa-circle(style="color:#eee")]
            li(ng-class="{'active':editor.theme.value=='neat'}")
              a(href="#",ng-click="editor.theme.set('neat')") #[i.fa.fa-circle(style="color:#ddd")]
            li(ng-class="{'active':editor.theme.value=='monokai'}")
              a(href="#",ng-click="editor.theme.set('monokai')") #[i.fa.fa-circle(style="color:#ba9")]
            li(ng-class="{'active':editor.theme.value=='rubyblue'}")
              a(href="#",ng-click="editor.theme.set('rubyblue')") #[i.fa.fa-circle(style="color:#249")]
            li(ng-class="{'active':editor.theme.value=='colorforth'}")
              a(href="#",ng-click="editor.theme.set('colorforth')") #[i.fa.fa-circle(style="color:#222")]


