include /mixin.jade
mixin publish
  .perm-item(style="padding: 10px 0")
    .btn-group
      .btn.btn-default.btn-sm(ng-class="{'active':chart.obj.permission.switch=='publish'}",ng-click="chart.obj.permission.switch='publish'")
        i.fa.fa-check.text-success
        span  {{'Published'|i18n}}
      .btn.btn-default.btn-sm(ng-class="{'active':chart.obj.permission.switch!='publish'}",ng-click="chart.obj.permission.switch='draft'")
        i.fa.fa-check.text-success
        span  {{'Draft'|i18n}}
    .pull-right.btn.btn-text.btn-sm(
    ng-show="chart.obj.permission.switch=='publish'") #[b {{'visible'|i18n}}] {{'in embed code / share link'|i18n}}
    .pull-right.btn.btn-text.btn-sm(
    ng-show="chart.obj.permission.switch!='publish'") #[b {{'invisible'|i18n}}] {{'in embed code / share link'|i18n}}

+cover-modal("settingPanel.toggled","settingPanel.toggle()","narrow")
  .panel.panel-default(ng-init="settingPanel.tab='publish'")
    .panel-heading &nbsp;
    .panel-body: div(ng-cloak)
      .closebtn.inner.lg.inverse(ng-click="settingPanel.toggle()")
      ul.nav.nav-tabs
        li(ng-class="{'active':settingPanel.tab=='publish'}",ng-click="settingPanel.tab='publish'")
          a(href="#") #[i.fa.fa-bullhorn] {{'Publish'|i18n}}
        li(ng-class="{'active':settingPanel.tab=='permission'}",ng-click="settingPanel.tab='permission'")
          a(href="#") #[i.fa.fa-lock] {{'Permission'|i18n}}
        li(ng-class="{'active':settingPanel.tab=='chartinfo'}",ng-click="settingPanel.tab='chartinfo'")
          a(href="#") #[i.fa.fa-info-circle] {{'Chart Info'|i18n}}
        li(ng-class="{'active':settingPanel.tab=='library'}",ng-click="settingPanel.tab='library'")
          a(href="#") #[i.fa.fa-book] {{'Libraries'|i18n}}
        li(ng-class="{'active':settingPanel.tab=='license'}",ng-click="settingPanel.tab='license'")
          a(href="#") #[i.fa.fa-book] {{'License'|i18n}}

      div(ng-show="settingPanel.tab=='permission'",style="position:relative")
        include /widget/panel-lock.jade
        div
          +searchable()
          .sep
          div(ng-controller="permEdit",ng-init="setPerm(chart.obj.permission)")
            include /widget/permission.jade
            +permPanel('entity')
      div(ng-show="settingPanel.tab=='publish'")
        +publish()
        .sep
        include /widget/publish.jade
      div(ng-show="settingPanel.tab=='chartinfo'")
        .well
          h3(style="margin:0")
            | {{'Chart Info'|i18n}}
            if chart
              small.grayed
                | &nbsp; by&nbsp;
                a(href="/user/" + chart.owner)= chart.ownername
          small.grayed {{'increase visibility by providing more information for your chart'|i18n}}.
        include /widget/chartinfo.jade
      div(ng-show="settingPanel.tab=='library'")
        .well
          h3(style="margin:0") {{'Library'|i18n}}
          small.grayed(ng-if="lang=='en'") pick libraries you want to use from this dropdown box
          small.grayed(ng-if="lang=='zh'") 透過下拉式選單挑選想要使用的圖表函式庫吧
        include /widget/library.jade
        .sep
        label {{'Inherit Content from Source Chart'|i18n}}
        select.form-control(multiple,ngselect2,ng-data="settingPanel.chart.inherit")
          option(value="code") code
          option(value="stylesheet") stylesheet
          option(value="document") document
          option(value="assets") assets
          option(value="config") config
        .sep

      div(ng-show="settingPanel.tab=='license'")
        .well
          h3(style="margin:0") {{'License'|i18n}}
          small.grayed(ng-if="lang=='en'") How this viswork's license works for different usages
          small.grayed(ng-if="lang=='zh'") 在不同用途中，圖表使用要如何授權呢？
        .well
          span(ng-if="lang=='en'") we provide free testing license in open beta stage, which means that you can use these viswork in any cases before we enter official release stage. After officially released, All visworks by PlotDB will be dual license - free for personal use and charged for commercial use. #[a(href="/info/contact") Contact us] for more detail.
          span(ng-if="lang=='zh'") 在開放測試階段，我們提供「free testing license」，讓您免費且無限制地使用並測試我們的視覺化。在正式上線之後，由 PlotDB 所提供的所有視覺化作品源碼仍維持個人使用免費，但將針對商業、政府或其它單位使用收取授權費。您亦可#[a(href="/info/contact") 與我們連繫]，以了解更多細節。

        //-
          select.form-control(ng-model="chart.obj.license.name")
            option(value="MIT License") MIT License
            option(value="PlotDB Basic License") PlotDB Basic License
            option(value="PlotDB Expert License") PlotDB Expert License 
            option(value="Custom License") Custom License 
          .sep
          .row.gap
            .col-sm-6
            .col-sm-3
              span {{'Free'|i18n}}?
            .col-sm-3
              span {{'Price'|i18n}} (USD)
          each i in ["Personal Use", "Generate SVG", "Embedded with IFrame", "Run in Single Site", "Run in Multiple Sites"]
            .row.gap(style="line-height:30px")
              .col-sm-6
                span {{'#{i}'|i18n}}
              .col-sm-3
                select.form-control.input-sm(ng-model="chart.obj.license.options['" + i + "'].free",
                ng-options="o.v as o.n for o in [{n: 'Yes', v: true}, {n: 'No', v: false}]")
              .col-sm-3
                input.form-control.input-sm(
                ng-disabled="chart.obj.license.options['" + i + "'].free",
                ng-model="chart.obj.license.options['" + i + "'].price")

    .panel-footer.text-right(style="padding-left: 5px")
      .btn.btn-default.btn-sm.pull-left.loader(ng-click="clone()",
      ng-class="{'loading':save.handle}") {{'Make a Copy'|i18n}}
      .btn.btn-success.btn-sm.loader(ng-class="{'btn-glowing': needSave,'loading':save.handle}",
      ng-click="save()") {{'Save'|i18n}}
      span &nbsp;
      .btn.btn-default.btn-sm(ng-click="settingPanel.toggle()") {{'Close'|i18n}}

