doctype html
include version.jade
include mixin.jade
- var assets = "/assets"
- var title = 'PlotDB: Share Visualizations with Everyone'
- var description = "Create, share and request visualizations online."
- var thumbnail = "//plotdb.com/assets/img/thumbnail.png"
- var thumbtype = "image/png"
- var thumb_width = "1200"
- var thumb_height = "630"
- var favicon = assets + "/img/favicon-16.png"
- var rootid = ""
- var url = "https://plotdb.com/"
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    include meta.jade
    link(rel="icon",type="image/x-icon",href="#{favicon}")
    link(rel="stylesheet",type="text/css",
    href="//fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans+Condensed:300,700")
    link(rel="stylesheet",type="text/css",href="/css/pack/frameworks.css?" + version)
    script(src="/js/pack/frameworks.js?" + version)

    script(type="text/javascript",src="/global")
    script(type="text/javascript",src="/js/pack/base.js?" + version)
    block head
  body(id=rootid,ng-app="plotDB",ng-controller="plSite")
    #beta-ribbon
    #confirmbox
      .cover-modal.ng-hide-animate.ng-hide(ng-show="confirmbox.toggled",ng-cloak)
      .cover-modal-inner.ng-hide-animate.ng-hide(ng-show="confirmbox.toggled",ng-cloak)
        .panel.panel-default
          .panel-body
            h3(ng-show="confirmbox.config.title") {{confirmbox.config.title}}
            p {{confirmbox.config.message}}
            .btn.btn-default(ng-repeat="option in confirmbox.config.options",
            ng-click="confirmbox.handle($index)") {{option}}
    #loading-dimmer(ng-class="{'active':loading.dimmer, 'show-progress':loading.progress}")
      .progress
        .progress-bar.progress-bar-striped.active(
        aria-valuemin="0",aria-valuemax="100",
        ng-attr-style="width:{{loading.progress}}%")

    div(style="height:0") &nbsp;
    include nav.jade
    include auth/panel.jade
    #notifications
      .notify(ng-repeat="n in notifications",ng-class="'notify-'+n.type",ng-cloak) {{n.message}}
    #alertbox(ng-cloak,ng-show="alert.toggled"): .ib
      br
      .text-center {{alert.msg}}
      .footer
        .btn.btn-default.btn-sm(ng-click="alert.toggled=false") OK
    block body
    include /feedback.jade
    include /ga.jade
    include /fb.jade
