extends base.jade
block vars
  - var rootid = "iconview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.io/"
block head
  script(type="text/javascript",src="/js/charts/base.js")
  script(type="text/javascript",src="/js/dev.js")
  script(type="text/javascript",src="/js/chart.js")
  script(type="text/javascript",src="/js/chart-sample.js")
  script(type="text/javascript",src="/js/data.js")
block body
  - var tabs = [{name: 'preview', dimension: 2 }, {name: 'assets', type: '', files: '3', src: true}]
  //-- var tabs = [{name: 'preview', dimension: 2 }, {name: 'code', type: 'javascript', size: '37KB', line: '125', src: true}, {name: 'stylesheet', type:'css', size: '500B', line: '10', src: true}, {name: 'document',type: 'html', size: '20B', line: '3', src: true}, {name: 'assets', type: '', files: '3', src: true}]
  div &nbsp;
  #root(ng-controller="chartEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    #code-panel(ng-class="{'mini':vis!='code' && vis!='stylesheet' && vis!='document'}")
      #code-tabs
        .tab.cat.shown(ng-click="showsrc=!!!showsrc")
          div.text-right #[span src]
          .desc.text-right
            i.glyphicon.glyphicon-chevron-right(ng-show="!showsrc")
            i.glyphicon.glyphicon-chevron-left(ng-show="showsrc")

        for i in tabs
          .tab(ng-class="{'active':vis=='"+i.name+"','shown':"+!(i.src)+" || showsrc}",ng-click="vis='"+i.name+"'")
            div #[span #{i.name}] #[small #{i.type}]
            .desc 
              span &nbsp;
              if i.dimension
                span #{i.dimension} dimensions
              if i.dataset
                span #{i.dataset} datasets
              if i.files
                span #{i.files} files

        .tab(ng-class="{'active':vis=='code','shown':showsrc}",ng-click="vis='code'")
          div #[span code] #[small javascript]
          .desc {{chart.code.size|size}}, {{chart.code.lines}} lines
        .tab(ng-class="{'active':vis=='stylesheet','shown':showsrc}",ng-click="vis='stylesheet'")
          div #[span stylesheet] #[small css]
          .desc {{chart.style.size|size}}, {{chart.style.lines}} lines
        .tab(ng-class="{'active':vis=='document','shown':showsrc}",ng-click="vis='document'")
          div #[span document] #[small html]
          .desc {{chart.doc.size|size}}, {{chart.doc.lines}} lines
        .tab(ng-class="{'active':vis=='assets','shown':showsrc}",ng-click="vis='assets'")
          div #[span assets] #[small]
          .desc no files

    .row
      .col-sm-3
        #config-panel.plpanel 
          label Project
          .chart-config
            .input-group
              span.input-group-addon name
              input.form-control(type="text",ng-model="name",placeholder="Project Name")
          #project-action.btn-group(style="width:100%")
            .btn.btn-default(ng-disabled="!name", ng-click="save()") Save
            .dropdown
              .btn.btn-default.dropdown-toggle(data-toggle="dropdown") Download #[span.caret]
              ul.dropdown-menu
                li: a(href="#") PNG
                li: a(href="#") SVG
          hr
          label Config
          .chart-config(ng-repeat="c in chart.configs")
            .input-group
              span.input-group-addon {{c.name}}
              input.form-control(type="text",ng-attr-placeholder="{{c.defval}}",ng-model="c.value")
      .col-sm-9(style="padding-left:0;position:relative")
        #code-error(ng-show="codeError") {{codeError}}

        #code-editor(ng-show="vis!='preview'")
          #code-header {{vis}}
          #code-editor-code.inner(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="chart.code.option",ng-model="chart.code.content",ng-show="vis=='code'")
          #code-editor-style.inner(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="chart.style.option",ng-model="chart.style.content",ng-show="vis=='stylesheet'")
          #code-editor-doc.inner(ui-codemirror="{onLoad: codemirrored}",ui-codemirror-opts="chart.doc.option",ng-model="chart.doc.content",ng-show="vis=='document'")
          #code-ctrl
            .btn.btn-default(ng-click="chart.render()") Save
            span &nbsp;
            .btn.btn-default(ng-click="chart.render();vis='preview'") Preview #[small.hint Alt-Enter]

        #visualization-canvas2.plpanel(ng-show="vis=='preview'")
          .btn.btn-default(ng-click="vis='code'") Open Code #[small.hint Alt-Enter]
          iframe#visualizer(src="http://localhost/render.html",style="width:100%;height:100%;border:none;overflow:hidden",scrolling="no")

    //-.row(ng-show="vis=='preview'")
      .col-sm-3
        #config-panel.plpanel 
          label Project
          .chart-config
            .input-group
              span.input-group-addon name
              input.form-control(type="text",ng-model="name",placeholder="Project Name")
          #project-action.btn-group(style="width:100%")
            .btn.btn-default(ng-click="save()") Save
            .btn.btn-default(ng-click="load()") Load
            .dropdown
              .btn.btn-default.dropdown-toggle(data-toggle="dropdown") Download #[span.caret]
              ul.dropdown-menu
                li: a(href="#") PNG
                li: a(href="#") SVG
          hr
          label Config
          .chart-config(ng-repeat="c in chart.configs")
            .input-group
              span.input-group-addon {{c.name}}
              input.form-control(type="text",ng-attr-placeholder="{{c.defval}}",ng-model="c.value")

    #binding-panel
      .row
        .col-sm-12
          label Datasets
          .data-fields(ng-controller="dataFiles")
            .data-file(ng-repeat="file in datasets",style="cursor:pointer",
            ng-click="file.toggle=!!!file.toggle",ng-class="{'active':file.toggle}")
              .title {{file.name}}
              .desc {{file.size}}, {{file.rows}} rows
            .data-file.data-file-new
              .title(style="line-height:2.5em",ng-click="datacreate()") add new dataset ...
            br.clearfix
          #data-create-modal(ng-show="showDataCreateModal")
            include data/create.jade
      hr
      .row
        .col-sm-4
          label Data Fields
          .data-fields(ng-controller="dataFiles")
            .data-file(ng-repeat="file in datasets",ng-show="file.toggle")
              .closebtn(ng-click="file.toggle=!!!file.toggle") &times;
              .title {{file.name}}
              .desc {{file.size}}, {{file.rows}} rows
              .data-field(ng-repeat="field in file.fields",ng-attr-style="background:{{file.color}}",ng-drag="true",ng-drag-data="field") {{field.name}} #[small {{field.type}}]
            br.clearfix

        .col-sm-8
          label Dimensions
          .dimensions
            .dimension(ng-repeat="dim in chart.dimensions",ng-drop="true",
            ng-drop-success="chart.setdim($data,$event,dim)")
              .require(ng-show="dim.require"): i.fa.fa-asterisk
              .title {{dim.name}}
              .desc accept: #[span(ng-repeat="name in dim.type") {{name}}] #[span(ng-show="!dim.type.length") Any]
              .data-field(ng-repeat="field in dim.fields") {{field.name}}
            .dimension.flexend
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading: label Deploy as Template
          .panel-body
            p You can deploy this chart as a new template for others to use.

            label Description
            textarea.form-control(ng-model="desc",rows="5",style="margin-bottom:5px",placeholder="write something about this template..")
            .btn.btn-default(ng-click="save(true)") Deploy As Template
  include footer.jade
