extends base.jade
block vars
  - var rootid = "iconview"
  - var title = 'plotdb'
  - var description = "plotdb"
  - var thumbnail = "http://plotdb.io/assets/img/thumbnail.jpg"
  - var thumbtype = "image/jpg"
  - var url = "http://plotdb.io/"
block head
  script(type="text/javascript",src="/js/charts/base.js")
  script(type="text/javascript",src="/js/dev.js")
  script(type="text/javascript",src="/js/chart.js")
block body
  - var tabs = [{name: 'code', type: 'javascript', size: '37KB', line: '125', src: true}, {name: 'stylesheet', type:'css', size: '500B', line: '10', src: true}, {name: 'document',type: 'html', size: '20B', line: '3', src: true}, {name: 'binding', type: '', dimension: '5'}, {name: 'data', type: '', dataset: '3'}]
  div &nbsp;
  #root(ng-controller="chartEditor",style="max-width:1200px;margin-left:auto;margin-right:auto")
    #code-panel(ng-class="{'mini':vis!='code' && vis!='stylesheet' && vis!='document'}")
      #code-tabs
        .tab.cat.shown(ng-click="showsrc=!!!showsrc")
          div.text-right #[span src]
          .desc.text-right
            i.glyphicon.glyphicon-chevron-right(ng-show="!showsrc")
            i.glyphicon.glyphicon-chevron-left(ng-show="showsrc")
        for i in tabs
          .tab(ng-class="{'active':vis=='"+i.name+"','shown':"+!(i.src)+" || showsrc}",ng-click="vis='"+i.name+"'")
            div #[span #{i.name}] #[small #{i.type}]
            .desc 
              span &nbsp;
              if i.size
                span #{i.size}
              if i.line
                span #{i.line} lines
              if i.dimension
                span #{i.dimension} dimensions
              if i.dataset
                span #{i.dataset} datasets
      #code-editor
        #code-editor-code.inner(ui-codemirror,ui-codemirror-opts="chart.code.option",ng-model="chart.code.content",ng-show="vis=='code'")
        #code-editor-style.inner(ui-codemirror,ui-codemirror-opts="chart.style.option",ng-model="chart.style.content",ng-show="vis=='stylesheet'")
        #code-editor-doc.inner(ui-codemirror,ui-codemirror-opts="chart.doc.option",ng-model="chart.doc.content",ng-show="vis=='document'")
        #code-ctrl
          .btn.btn-default(ng-click="chart.render()") Apply
          span &nbsp;
          .btn.btn-default Close
      script.
        /*var myCodeMirror = CodeMirror(document.getElementById("code-editor-inner"), {
          value: "function myScript(){return 100;}\n",
          mode: "javascript",
          lineNumbers: true,
        });*/
      #visualization-canvas
        iframe#visualizer(src="http://localhost/render.html",style="width:100%;height:100%;border:none;overflow:hidden",scrolling="no")
        //-iframe(src="http://localhost:9990/pie/",style="width:100%;height:100%;border:none;overflow:hidden",scrolling="no")

    span sample data / collapse code
    #binding-panel
      .row
        .col-sm-4
          label Data Fields
          .data-fields
            .data-file(ng-repeat="file in data")
              .closebtn(ng-click="removedata(file)") &times;
              .title {{file.name}}
              .desc {{file.size}}, {{file.rows}} rows
              .data-field(ng-repeat="field in file.fields",ng-attr-style="background:{{file.color}}",ng-drag="true",ng-drag-data="field",ng-center-anchor="true") {{field.name}} #[small {{field.type}}]
            .data-file.data-file-new
              .title connect other dataset...
            .data-file.data-file-new
              .title use offline data... 
        .col-sm-8
          label Dimensions
          .dimensions
            .dimension(ng-repeat="dim in chart.dimensions",ng-drop="true",ng-drop-success="chart.setdim($data,$event,dim)")
              .title {{dim.name}}
              .desc accept: #[span(ng-repeat="name in dim.type") {{name}}] #[span(ng-show="!dim.type.length") Any]
              .data-field(ng-repeat="field in dim.fields") {{field.name}}
            .dimension.flexend

  include footer.jade
