mixin margin-break
  .margin-break &nbsp;
include meta.jade
link(rel="icon",type="image/x-icon",href="#{favicon}")
//-
  link(rel="stylesheet",type="text/css",href="#{assets}/bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet",type="text/css",href="#{assets}/fontawesome/4.6.1/css/font-awesome.min.css")

link(rel="stylesheet",type="text/css",href="//fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans+Condensed:300,700")
link(rel="stylesheet",type="text/css",href="/css/pack/frameworks.css?" + version)
script(src="/js/pack/frameworks.js?" + version)
//-
  script(type="text/javascript",src="#{assets}/jquery/1.10.2/jquery.min.js")
  script(type="text/javascript",src="#{assets}/d3js/3.5.12/d3.v3.min.js")
  script(type="text/javascript",src="#{assets}/angular/1.3.15/angular.min.js")
  script(type="text/javascript",src="#{assets}/bootstrap/3.3.5/js/bootstrap.min.js")
