//- module
mixin SaveFork
  span(ng-cloak,ng-show="writable") {{'Save'|i18n}}
  span(ng-cloak,ng-show="!writable") {{'Fork-Save'|i18n}}
mixin margin-break
  .margin-break &nbsp;
mixin cover-modal(condition,toggle,className)
  .cover-modal(ng-cloak,ng-if=condition,ng-click=toggle)
  .cover-modal-inner(ng-cloak,ng-if=condition,class=className)
    block

//- dialog: Sample Usage
  +dialog("modelName", "additional-className")
    input(ng-model="modelName.ctrl.value",tabindex="1")
    input(ng-model="modelName.ctrl.value",tabindex="2")
    .btn.btn-default(ng-click="modelName.action('done')") OK
    .btn.btn-default(ng-click="modelName.action('cancel')") Cancel
//- modelName.ctrl.value will be copied to modelName.ctrl with action('done')
//- use tabindex to indicate the next input to focus after hiting enter
mixin Dialog(model,className)
  div(pldialog,ng-model=model)
    .cover-modal(ng-cloak,ng-if=model+".ctrl.toggled",ng-click=model+".ctrl.toggle(false)")
    .cover-modal-inner(ng-cloak,ng-if=model+".ctrl.toggled",class=className)
      block

mixin selectbox(data,type,scope,config,size)
  div(ng-controller="plSelectController",
  ng-init="init("+data+",'"+type+"',"+scope+"," + JSON.stringify(config || {}) +")")
    div(class="select-box" + ((config || {}).multiple==false?" single":"") + ((config || {}).alone?" alone":"") + " " + ((config || {}).size || ""),
    plselect,ng-portal="portal",ng-cloak,ng-type=type,ng-scope=scope)
      .select-input.form-control
        .select-option(ng-repeat="item in portal.data")
          i.fa.fa-close(ng-click="remove(item,$event)")
          if block
            block
          else
            span(ng-if="item.type=='chart'")
              .avatar(ng-attr-style="background-image:url(/s/chart/{{item.key}}.png)")
              .name
                span {{item.displayname}}
            span(ng-if="item.type=='folder'")
              .name {{item.displayname}} #[small.grayed (id:{{item.key}})]
            span(ng-if="item.type!='chart' && item.type!='folder'")
              .avatar(ng-attr-style="background-image:url(/s/avatar/{{item.avatar || 0}}.jpg)")
              .name {{item.displayname}} #[small.grayed (id:{{item.key}})]
        input
      .select-dropdown
        div &nbsp;
        .select-option(ng-repeat="opt in portal.options",ng-click="toggle(opt)",
        ng-class="{'active':opt.selected}")
          if block
            block
          else
            span(ng-if="opt.type=='chart'")
              .avatar(ng-attr-style="background-image:url(/s/chart/{{opt.key}}.png);vertical-align:top")
              .name
                div {{opt.displayname}}
                small.grayed ({{opt.key}}) by {{opt.ownername}}
            span(ng-if="opt.type=='folder'")
              .name {{opt.displayname}} #[small.grayed (id:{{opt.key}})]
            span(ng-if="opt.type!='chart' && opt.type!='folder'")
              .avatar(ng-attr-style="background-image:url(/s/avatar/{{opt.avatar || 0}}.jpg)")
              .name {{opt.displayname}} #[small.grayed (id:{{opt.key}})]

            i.fa.fa-check.pull-right
        .select-hint.grayed(ng-show="portal.loading")
          img(src="/assets/img/loading.gif")
          span {{'loading'|i18n}}...
        .select-hint.grayed(ng-show="portal.needchar>0") type {{portal.needchar}} more chars... 
        .select-hint.grayed(ng-show="!portal.options.length && portal.needchar<=0 && !portal.loading") 
          span {{'no result'|i18n}}.
          a(ng-if="portal.config.create",ng-click="create()") {{'create one with this name'|i18n}}
        .select-hint.grayed(ng-show="portal.needchar<=0 && portal.end && !portal.loading && portal.options.length") {{"that's all"|i18n}} :)

//- v1
mixin searchable
  .perm-item(style="padding: 10px 0")
    label {{'Searchable?'|i18n}}
    br
    .btn-group
      .btn.btn-default.btn-sm(ng-class="{'active':target().searchable}",ng-click="target().searchable=true")
        i.fa.fa-check.text-success
        span  On
      .btn.btn-default.btn-sm(ng-class="{'active':!target().searchable}",ng-click="target().searchable=false")
        i.fa.fa-check.text-success
        span  Off
    .pull-right.btn.btn-text.btn-sm(
    ng-show="target().searchable") {{'shown in search result'|i18n}}
    .pull-right.btn.btn-text.btn-sm(
    ng-show="!target().searchable") {{'hidden from search result'|i18n}}
