mixin cover-modal(condition,toggle,className)
  .cover-modal.ng-hide-animate.ng-hide(ng-cloak,ng-show=condition,ng-click=toggle)
  .cover-modal-inner.ng-hide-animate.ng-hide(ng-cloak,ng-show=condition,class=className)
    block

mixin selectbox(data,type)
  div(ng-controller="plSelectController",ng-init="init("+data+",'"+type+"')")
    .select-box(plselect,ng-portal="portal",ng-cloak,ng-type=type)
      .select-input.form-control
        .select-option(ng-repeat="item in portal.data")
          i.fa.fa-close(ng-click="remove(item,$event)")
          if block
            block
          else
            span
              if type == 'chart'
                .avatar(ng-attr-style="background-image:url(/s/chart/{{item.key}}.png)")
                .name {{item.name}}
              else
                .avatar(ng-attr-style="background-image:url(/s/avatar/{{item.avatar || 0}}.jpg)")
                .name {{item.displayname}}
        input
      .select-dropdown
        div &nbsp;
        .select-option(ng-repeat="opt in portal.options",ng-click="toggle(opt)",
        ng-class="{'active':opt.selected}")
          if block
            block
          else
            span
              if type == 'chart'
                .avatar(ng-attr-style="background-image:url(/s/chart/{{item.key}}.png)")
                .name {{opt.name}}
              else
                .avatar(ng-attr-style="background-image:url(/s/avatar/{{item.avatar || 0}}.jpg)")
                .name {{opt.displayname}}
            i.fa.fa-check.pull-right
        .select-hint.grayed(ng-show="portal.loading")
          img(src="/assets/img/loading.gif")
          span loading...
        .select-hint.grayed(ng-show="portal.needchar>0") type {{portal.needchar}} more chars... 
        .select-hint.grayed(ng-show="!portal.options.length && portal.needchar<=0 && !portal.loading") no result
        .select-hint.grayed(ng-show="portal.needchar<=0 && portal.end && !portal.loading && portal.options.length") that's all :)
