extends /render.jade
block vars
  - var thumbnail = "https://plotdb.com/s/chart/" + chart.key + ".png"
  - var title = chart.name
  - var description = chart.description || "check this visualization powered by plotdb"
  - var url = "https://plotdb.com/v/chart/" + chart.key
  - var renderSrc = "pdb-viewer"
block head
  title #{chart.name} by #{chart.author}
  link(rel="icon",type="image/x-icon",href="/assets/img/favicon-16.png")
  script(type="text/javascript",src="/js/pack/view.js?" + version)
  each lib in chart.library || []
    - var path = lib.split('/')
    - var min = ( path[2]?'.' + path[2] : '' )
    script(src= "/lib/" + path[0] + "/" + path[1] + "/index" + min + ".js")
  if !chart.library
    script(src="/js/pack/legacy.js?" + version)
block body
  include /render/pdb-style.jade
  include /render/base-style.jade
  #wrapper.loading.pdb-root
  a#plotdb-mark(href="https://plotdb.com",target="_blank") POWERED BY PLOTDB
block foot
  script(type="text/javascript").
    var chart = !{JSON.stringify(chart).replace(/<\//g, "<\\/")};
    var theme = !{JSON.stringify(theme).replace(/<\//g, "<\\/")};
    var fields = !{JSON.stringify(fields).replace(/<\//g, "<\\/")};
  script(type="text/javascript").
    var mychart = new plotdb.view.chart(chart, {theme: theme, fields: fields}); //, {theme: theme, fields: fields})
    //-mychart.loadlib();
    mychart.attach(document.getElementById("wrapper"));
  include /ga.jade
  //-include /fb.jade
