extends /render.jade
block head
  title #{chart.name} by #{chart.author}
  link(rel="icon",type="image/x-icon",href="/assets/img/favicon-16.png")
block body
  include /render/pdb-style.jade
  include /render/base-style.jade
  div(style="height:0") &nbsp;
  #container.loading.pdb-root
  a#plotdb-mark(href="http://plotdb.com",target="_blank") &nbsp;
block foot
  script(type="text/javascript",src="/js/pack/view.js")
  script(type="text/javascript").
    var chart = !{JSON.stringify(chart)};
    var theme = !{JSON.stringify(theme)};
    var fields = !{JSON.stringify(fields)};
  script(type="text/javascript").
    var mychart = plotdb.load({
      root: document.getElementById("container"),
      chart: {chart: chart, theme: theme, fields: fields}
    });
